[2019-10-19 06:25] romainPrignon opened #3 "Should we use typescript ?"
- Transition to Deno will be easier

[2019-10-19 06:29] ry commented on #3
Yeah - eventually. I'm currently in prototype mode. I'd rather move fast and break things for now.

[2019-10-19 18:49] etroynov opened #8 "can i help you?"
Hi Ryan,

Can i help you with site?

I have a lot experience work with React and i have a free time.

[2019-10-21 16:13] ry commented on #8
Happy to have help, but this project is still a prototype and I'm not going to put much effort into documentation or project management until it's more mature.

[2019-10-21 16:13] #8 closed

[2019-10-21 16:13] #3 closed

[2019-10-22 08:55] sidntrivedi012 opened #20 "HTML code showing up between markdown."
![Screenshot 2019-10-22 at 2 23 16 PM](https://user-images.githubusercontent.com/31186013/67271117-8bac9480-f4d7-11e9-9f55-648592de8ed8.png)

@ry, The `prettier` HTML code is being shown between markdown. I was also trying to make the toc but its not being rendered properly. Please guide how to solve this. Would like to work on it. Thanks.

This screenshot is from the Manual page.

[2019-10-22 22:59] ry opened #24 "Table of Contents in /manual and /style_guide is broken"

[2019-10-22 23:37] ry opened #25 "benchmark page doesn't work on mobile"

[2019-10-22 23:39] ry opened #26 "bring back "normalize" feature in the benchmark plots"
as was done in https://github.com/denoland/deno/pull/2919

cc @lucacasonato

[2019-10-23 07:18] lucacasonato commented on #26
I'll take this on - should be a lot cleaner in React.

[2019-10-23 08:25] lucacasonato commented on #26
So there are some issues with c3-react. The C3Chart component does not react to state updates (like the label) - this means that when I change for example the label, the chart does not change. I can also not use multiple charts and just hide/unhide them like I did on the original site because then c3 does not properly size the chart and content overflows on the bottom. Do you have any ideas on how

[2019-10-23 12:40] AleksandrukTad opened #28 "Gatsby?"
If you are using netlify have you considered using Gatsby?

[2019-10-23 16:18] lucacasonato commented on #25
What exactly doesn't work? Works for me on iOS 13 with Safari Mobile and Android 9 with Chrome 77.

[2019-10-23 16:29] ry commented on #28
The site isn't static

[2019-10-23 16:29] #28 closed

[2019-10-24 06:38] dshubhadeep commented on #24
@ry Can I work on this ?

[2019-10-24 15:41] #24 closed

[2019-10-24 16:18] ry commented on #26
@lucacasonato That sucks. I don't have any ideas. I'm happy to explore a different charting module.

[2019-10-24 17:39] lucacasonato commented on #26
I'll look into some other chart modules then. I saw some interesting ones while researching this issue yesterday.

[2019-10-24 21:12] lucacasonato opened #40 "Add darkmode again"
We should add darkmode again like we had on the v1 site. It should be based on prefers-color-scheme again.

We have to update:
- main layout (material-ui theme)
- code blocks (so cant use github-gist theme anymore)
- charts (once/if #39 is merged the apexcharts theme)
- invert deno logos

[2019-10-24 21:24] ry commented on #40
Sure - but let's please keep the CSS as minimal as possible.

[2019-10-24 21:45] ry opened #42 "add github link to source pages"
example: https://deno.land/std/log/logger.ts should have a link to https://github.com/denoland/deno/blob/master/std/log/logger.ts

Also for markdown pages.

Also support branches properly.

[2019-10-24 21:46] ry opened #43 "add selectable line numbers"
Allow selecting lines with URL fragment: http://deno.land/std/http/server.ts#L1-#L5

@j-f1 implemented this already somewhere in https://github.com/denoland/registry/tree/master/src so maybe try to reuse code from there.

[2019-10-24 21:49] ry opened #44 "add unit tests"
set it up here https://github.com/denoland/deno_website2/blob/fbe617646c93dfff919d4d70722be82e5527e3f0/.github/workflows/build.yml#L16
and no need to add comprehensive tests, just add an example of how to test react (a good example test would be to check that the home page renders properly and contains the word "Deno")

[2019-10-24 22:07] lucacasonato opened #45 "[security] can inject JS into page via markdown files"
Currently it is possible to inject javascript into pages that render markdown using, for example, a `<img>` element. This element has an onload parameter that will execute any JS that is passed to it once is succeeds/fails in loading the image.

Instead of blacklisting tags like we do now - currently only `<script>` is blacklisted - we should whitelist 'known good' tags like comments and `<div>`.

[2019-10-24 22:13] ry opened #47 "fix spinner on benchmarks page"

[2019-10-25 00:46] j-f1 commented on #43
https://github.com/denoland/registry/blob/714ffcf29d55620fb02b53c99c7d954a366a19e7/src/code_scripts.js#L12-128

[2019-10-25 06:39] ry opened #57 "docs should support lib.deno_runtime.d.ts"
https://deno.land/x/deno/cli/js/lib.deno_runtime.d.ts?doc

[2019-10-25 06:40] ry commented on #20
this is solved

[2019-10-25 06:40] #20 closed

[2019-10-25 06:40] ry commented on #25
false alarm

[2019-10-25 06:40] #25 closed

[2019-10-25 06:47] ry opened #59 "docs should have a link to their source code"
depends on #43

[2019-10-25 10:06] lucacasonato commented on #26
Fixed by #39

[2019-10-25 10:10] lucacasonato commented on #44
Do we want to emulate the DOM using something like JSDOM for testing or should we use something like [puppeteer](https://github.com/GoogleChrome/puppeteer)? I think maybe JSDOM for unit tests and then a few puppeteer integration tests.

[2019-10-25 11:26] bartlomieju opened #61 "Benchmark charts - bad values for throughput and exec time"
<img width="974" alt="Zrzut ekranu 2019-10-25 o 13 25 13" src="https://user-images.githubusercontent.com/13602871/67567825-f1448f00-f72a-11e9-8eab-6aed8f93efb8.png">

If you check latest benchmarks (https://github.com/denoland/deno/runs/274208380) you can see that both of those charts should be <2s but all of the results are >4s on charts.

CC @lucacasonato @ry

[2019-10-25 12:33] lucacasonato commented on #61
Interesting - seems to happen only after interacting with the normalized toggle. I'll look into this.

[2019-10-25 12:39] lucacasonato commented on #42
I'll take this.

[2019-10-25 17:29] ry commented on #44
@lucacasonato I think unit tests with jsdom will be sufficient for starts

[2019-10-25 18:04] lucacasonato commented on #61
Seems to be related to the logarithmic scaling of the graphs. I don't quite understand what exactly is causing the undesired behavior - I'll look into this some more.

[2019-10-25 18:07] lucacasonato opened #63 "viewing docs on non ts files causes a blank screen"
We should only display the documentation button on supported formats.

[2019-10-25 18:08] lucacasonato commented on #40
Fixed by #60.

[2019-10-25 18:08] #40 closed

[2019-10-25 19:05] lucacasonato opened #64 "viewing docs on ts that exports a module causes a blank screen"
example: https://deno.land/x/abc/dev_deps.ts

Statements like `export { test, runTests } from "https://deno.land/std@v0.20.0/testing/mod.ts";` seem to be the culprit.

[2019-10-25 20:10] #42 closed

[2019-10-26 08:30] kitsonk opened #69 "API Doc Broken..."
The main page `API Documentation` links to a non-existent page: https://deno.land/typedoc/

[2019-10-26 12:35] lucacasonato commented on #69
This is somewhat already being tracked in #57. https://deno.land/typedoc/ should ultimately display the same as https://deno.land/x/deno/cli/js/lib.deno_runtime.d.ts?doc.

[2019-10-26 15:05] lucacasonato opened #71 "support for GitLab and BitBucket in registry"
Do we want add support for GitLab and BitBucket in the registry?

/cc @ry

[2019-10-26 15:09] lucacasonato opened #72 "support viewing images in registry"
We should probably support viewing images in the registry rather than just showing weird chars in code blocks.

[2019-10-26 15:45] #69 closed

[2019-10-26 15:52] ry opened #75 "Support documentation and source viewing for arbitrary URLs"
https://deno.land/docs?url=https://unpkg.com/browse/lodash-es@3.10.1/chain/chain.js

This should simply reuse src/Docs.tsx

[2019-10-26 16:17] ry commented on #71
That would be great - but let's get some tests set up for the registry first so we're not randomly breaking things as we add that functionality.

[2019-10-26 17:12] lucacasonato commented on #75
We might want to proxy these URLs through the worker so we don't have CORS issues.

[2019-10-27 17:52] trivikr opened #78 "Website doesn't scroll to hash '#' in URL path, if present"
For example, the CONTRIBUTING.md links to contributing section of manual.md
* Source: https://github.com/denoland/deno/blob/master/CONTRIBUTING.md
* Link: https://deno.land/std/manual.md#contributing

When website loads https://deno.land/std/manual.md#contributing, it doesn't scroll to the contributing section

[2019-10-27 18:01] trivikr commented on #78
This happens as Registry.js doesn't consume hash parameter from `useLocation()`
https://github.com/denoland/deno_website2/blob/38c5c441d9562f9e9617a52f9509e70493b5ea33/src/Registry.js#L19

Registry.js can consume hash parameter for `useLocation()`, and scroll to that section on the page on load.
Documentation: https://reacttraining.com/react-router/web/api/Hooks/uselocation

[2019-10-27 18:30] lucacasonato commented on #78
This is correct, but it is not related to the non-consumption of the hash - useLocation only makes the location available in the component, it does not actually trigger any logic when running the hook.

The root cause of the issue is actually that browsers like Chrome and Firefox, who handle the hash anchoring, only do this within a certain time period or before a certain browser specified metric

[2019-10-27 23:25] crabmusket opened #79 "404 errors from date_fns JS files in registry"
If you visit this page: https://deno.land/x/date_fns/addMonths/index.js you'll see a 404 error.

This reporter seemed to think it was an issue with JS files: https://github.com/denoland/registry/issues/177

However, if you look at the "repository" link on the `index.js` page linked above, you'll see it points to: https://github.com/date-fns/date-fns/tree/mastersrc/addMonths/index.js

Note `/tree/m

[2019-10-27 23:27] crabmusket commented on #79
The `fiona` repo, which also has `"path": "src/"`, seems to have the same issue: the "repository" link at https://deno.land/x/fiona/core points to https://github.com/billymoon/fiona/tree/mastersrc/core

[2019-10-28 13:12] lucacasonato commented on #79
All paths in the database should have a leading /. I'll PR a fix in a minute.

[2019-10-28 15:55] #79 closed

[2019-10-28 16:27] #26 closed

[2019-10-28 16:27] #44 closed

[2019-10-28 16:27] ry commented on #47
seems to be fixed now

[2019-10-28 16:27] #47 closed

[2019-10-28 17:23] ry opened #83 "too few colors in the benchmark plots"
<img width="956" alt="Screen Shot 2019-10-28 at 1 22 56 PM" src="https://user-images.githubusercontent.com/80/67701298-16810980-f986-11e9-82ed-982dcfa1ea04.png">

take for example the green...

[2019-10-28 17:24] ry opened #84 "benchmark plots don't display well on mobile"
they're not using all the available horizontal real-estate

<img width="360" alt="Screen Shot 2019-10-28 at 1 23 57 PM" src="https://user-images.githubusercontent.com/80/67701433-4b8d5c00-f986-11e9-90be-83918dd2ef9a.png">

[2019-10-28 17:43] ry opened #85 "doc / repo/ raw buttons have bad margins on mobile"
I would prefer we keep the UI very minimal... these buttons do not seem so minimal. Links would be fine - at least they wrap.

<img width="365" alt="Screen Shot 2019-10-28 at 1 41 53 PM" src="https://user-images.githubusercontent.com/80/67702833-d2dbcf00-f988-11e9-8958-fe82a76a654e.png">

[2019-10-28 18:44] iwatakeshi opened #86 "Link to master branch should not be internal"
Clicking the "master branch" link in the Benchmarks page treats the link as a route: `https://deno.land/https://github.com/denoland/deno`.

I think this should be an `href` instead.
https://github.com/denoland/deno_website2/blob/d0b37acea76c2f80866d99a4d89859b7bc26981a/src/Benchmarks.tsx#L124

[2019-10-28 19:51] #83 closed

[2019-10-28 19:53] ry commented on #86
Thanks for the notice.

I don't understand why Linking is so hard and error prone in our code base. Why can't use just use `<a href>`?

[2019-10-28 20:00] iwatakeshi commented on #86
You're welcome. :)

Honestly, I mainly use Vue so I don't have a good answer for you. ;)

[2019-10-28 22:06] lucacasonato commented on #86
Its funny how the simplest things get super complicated in React :man_facepalming:.

If we use `href` the browser makes a new get request to the server to get the HTML file for whatever URL we linked to. It has to go thru the worker and re send the HTML. That HTML needs to get reinterpreted and it has to fetch the JS again (probably from cache). All of the JavaScript has to re-render the page from

[2019-10-29 13:48] josephsintum commented on #86
I like @lucacasonato proposal to make the make a custom link component that determines internally if it is a internal or external link and automatically uses the correct tag and correct styling and avoid future errors

here's a possible solution
`touch /src/Link.tsx`
[code]

then usage is really simple

[code]

[2019-11-01 23:53] iwatakeshi commented on #86
Are we good to close this issue?

[2019-11-02 01:41] ry commented on #86
Yep - thanks @josephsintum

[2019-11-02 01:41] #86 closed

[2019-11-07 14:28] #78 closed

[2019-11-07 15:21] #45 closed

[2019-11-07 15:24] ry commented on #85
fixed in https://github.com/denoland/deno_website2/commit/071d19171511011ebe10c89115c5e49113a3e144

[2019-11-07 15:24] #85 closed

[2019-11-09 05:04] sholladay opened #110 "Add a field to database.json for main entry point of module"
I want people to be able to `import pogo from 'https://deno.land/x/pogo'`, but right now that doesn't work because the registry doesn't know which file to point to.

It would be great if I could specify the main entry point in database.json.

I created [module-url](https://github.com/sholladay/module-url) to make this a bit easier. It is a utility that takes an object as input, in nearly the same

[2019-11-09 11:00] ry commented on #110
I’m open to it.

[2019-11-09 20:47] fletcher-greg opened #111 "Visiting http doesn't redirect to https"
Not sure if this is the right place for this, but here goes.

First time visit to deno.land (*no prior visits*) serves up the **http** version rather than **https**.  Not sure if I'm missing something but I assume redirecting to https is preferable.

To repeat this behavior, cookies should be cleared (obviously) and visit http version or just type deno.land

Just thought I'd let you know.

Watchin

[2019-11-14 10:14] hazae41 opened #112 ""This website has been temporarily rate limited""
![](https://i.imgur.com/RyFIpIm.png)
https://dash.cloudflare.com/?account=workers/plans
https://developers.cloudflare.com/workers/about/limits/#number-of-requests-limit

[2019-11-14 12:16] ry commented on #112
fixed

[2019-11-14 12:16] #112 closed

[2019-11-18 16:06] rsp opened #116 "Module URL with no trailing slash has broken links"
Example:

- https://deno.land/x/dirname/ (with slash)
    - mod.ts links to https://deno.land/x/dirname/mod.ts (good)
- https://deno.land/x/dirname (without slash)
    - mod.ts links to https://deno.land/x/mod.ts (bad)

Additionally, the effect of a bad link is a blank screen with no 404 error or any other message.

Example:

- https://deno.land/x/nonexistent/path/name

Expected result: 404 error

[2019-11-18 16:19] rsp opened #117 "500 Internal Server Error for misspelled module names"
I noticed a difference between 404 of wrong path of a good module and a bad module.

Bad path of a **good module** gives HTTP `404 Not Found` response and a short body but **no Content-Type header**:
[code]
But when there is a **mistake in the module name**, the status is `500 Internal Server Error` with `Content-Type: text/html; charset=UTF-8` and a lot of HTML, even when requested by `curl`:
[co

[2019-11-18 16:34] rsp commented on #111
Good catch.

http://deno.land/ doesn't redirect to https and it also seems that neither do code URLs:

[code]
(no redirect, just sending code over unencrypted HTTP)

**But** it has a [Strict-Transport-Security](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security) header:
[code]
which is remembered by the browser and tells the browser to never access this website ove

[2019-11-18 17:03] ry commented on #111
Fixed

[2019-11-18 17:03] #111 closed

[2019-11-20 21:48] masterzenox opened #119 "Shell commands aren't highlighted on homepage"
### Problem
Shell commands on https://deno.land/#install aren't rendered as code.
1. This overflows on mobile allowing to scroll on the y-axis
2. It's inconsistent with other pages like https://deno.land/std/manual.md#setup
### Solution
Modify the install and example commands in Home.js to use \<CodeBlock/>

[2019-11-24 00:55] kevinkassimo opened #120 "500 Error for https://deno.land/x/ through e.g. curl"
`curl https://deno.land/x/` throws an 500 error from Cloudflare.

This causes [failure of awesome-bot checks for denolib/awesome-deno](https://github.com/denolib/awesome-deno/commit/03d96426fa29aa207cc558250c4be3d2237e2f99/checks?check_suite_id=325851959)

[2019-11-30 15:44] #119 closed

[2019-12-01 07:29] zhmushan commented on #120
@kevinkassimo
`curl -H "accept: html" https://deno.land/x/` works

[2019-12-01 08:15] zhmushan opened #124 "Unexpected link - missing "/" at the end of "/std""
![image](https://user-images.githubusercontent.com/24505451/69911381-b6cec000-1455-11ea-996b-e051244b1c16.png)

[2019-12-01 08:39] zhmushan commented on #124
We should redirect if current path is a folder

[2019-12-01 16:04] #43 closed

[2019-12-01 20:22] masterzenox commented on #124
See also #116

[2019-12-08 06:56] zhmushan opened #136 "bug: abnormal markdown preview"
see [file_server.ts#L78](https://deno.land/std/http/file_server.ts#L78)

[2019-12-08 06:58] zhmushan commented on #136
I found the same bug in vscode markdown preview
![image](https://user-images.githubusercontent.com/24505451/70385764-28b18700-19cb-11ea-9115-d9c425114d96.png)

[2019-12-09 14:13] zhmushan opened #138 "Wanted: provide a list of version information"
related: https://github.com/denolib/setup-deno/issues/11
Using Github API will limit the rate.

[2019-12-11 10:42] rsp commented on #120
There are more cases with throwing 500, see #117.

[2019-12-11 10:46] rsp opened #140 "Index doesn't exist for versioned URLs"
Files:
- https://deno.land/std/http/server.ts (OK)
- https://deno.land/std@v0.26.0/http/server.ts (OK)

Indexes:
- https://deno.land/std/ (OK)
- https://deno.land/std@v0.26.0/ (NOT FOUND)

(With no trailing slashes it's the same, plus additionally #116 happens.)

[2019-12-16 16:33] axetroy opened #144 "Page loads too slowly"
The current page load resource is too slow

And the loaded resource pack is too large

![截屏2019-12-1700 30 42](https://user-images.githubusercontent.com/9758711/70924462-7e89cd00-2064-11ea-80a0-d53c312b05af.png)

we should add `babel-import-plugin` plugin

Load components on demand

Then the `component`/`router` should be loaded dynamically

eg. `Chart component`

[2019-12-17 07:39] #144 closed

[2019-12-17 08:03] axetroy commented on #144
after merger

![截屏2019-12-1716 01 34](https://user-images.githubusercontent.com/9758711/70976264-a1f55c00-20e6-11ea-8a5c-7577efbb2183.png)

[2019-12-26 21:21] ry opened #152 "docs broken for https://deno.land/x/mysql/src/client.ts"

[2019-12-27 18:09] MarkTiedemann commented on #138
The GitHub API has a rate-limit, but their website does not.

[code]
[code]
This may be a little brittle, but hopefully it's enough for your use-case for now. :)

[2019-12-29 15:33] MarkTiedemann commented on #138
Even better: Listing all versions with a single request:

[code]
This one also returns `v0.0.0`. :)

[2019-12-29 16:02] ry commented on #138
It's worth noting that on the website we use the Github API to get directory listings and it's working fine. The reason we don't get rated limited is the API calls are made from the client side, so any rate limitations apply per visitor, not for the whole site. So I think just using AJAX requests to the API is the best way to do this.

[2019-12-29 16:08] MarkTiedemann commented on #138
The problem is that "per visitor" does not apply to CI environments, such as, GitHub Actions or Travis, or rather any service where you can't decide which server your code is gonna be run on.

The same happened in the CI of our installer, by the way. Don't have a link now, but I remember it failed because it was rate-limited. This is why we're parsing the website to get the latest version: https:/

[2019-12-29 16:21] ry commented on #138
Oh sorry, I misunderstood the issue. I thought this was about providing branch information for deno.land/x/ modules like unpkg.org has.

<img width="357" alt="Screen Shot 2019-12-29 at 11 20 49 AM" src="https://user-images.githubusercontent.com/80/71559538-4c497980-2a2d-11ea-85ea-8b08f1ebdde3.png">

[2019-12-29 23:06] zhmushan commented on #138
I just wanted a no rate limit api like https://golang.org/dl/?mode=json&include=all

[2019-12-30 14:01] MarkTiedemann commented on #138
@zhmushan

As far as I know, there's no rate-limiting for https://raw.githubusercontent.com. So, to me, this seems like a good temporary work-around until a Release API is provided.

[code]
The code wouldn't be too different either if there was an API.

[code]

Same for Node:

[code]
[code]

[2019-12-30 14:05] zhmushan commented on #138
@MarkTiedemann Looks good, thank you!

[2019-12-30 14:10] MarkTiedemann commented on #138
Happy to help. :) PS: I edited my comment above.

[2020-01-04 23:16] lucacasonato opened #161 "Hash links do not anchor on click in /std/manual.md"
Same as #78.

Related to #70, #104

[2020-01-04 23:20] #161 closed

[2020-01-04 23:24] lucacasonato commented on #140
This only happens on /std btw, not on /x

[2020-01-04 23:32] lucacasonato commented on #140
@ry Fixed by #140. Can be closed

[2020-01-04 23:33] #140 closed

[2020-01-05 23:51] trivikr opened #168 "Runtime metrics links for Scripts are broken"
https://deno.land/benchmarks
Example broken link: https://github.com/denoland/deno/blob/master/tests/003_relative_import.ts

[2020-01-05 23:59] trivikr opened #170 "Benchmarks: link to hyper_hello.ts is broken"
Benchmarks: https://deno.land/benchmarks
* Broken link: https://github.com/denoland/deno/blob/master/tools/hyper_hello.rs
* This happens because hyper_hello was moved to it's own crate in https://github.com/denoland/deno/pull/2641

[2020-01-06 00:30] #170 closed

[2020-01-06 00:31] #168 closed

[2020-01-07 11:55] bartlomieju opened #176 "wanted: Add search input to registry page"
We already have more than 120 modules listen in registry. It'd be very useful to have a small search box at the top of the registry page than you could filter out the list.

I'd imagine that search box is focused by default when you visit the page and can be used to filter by name/description fields of the module.

[2020-01-07 17:57] lucacasonato commented on #61
I think this does not happen anymore.

[2020-01-08 12:32] bartlomieju commented on #61
I can still reproduce it

[2020-01-08 13:18] #176 closed

[2020-01-09 15:44] brandonkal commented on #138
@MarkTiedemann why not just query the RSS feed https://github.com/denoland/deno/releases.atom
That would be cleaner than trying to parse the markdown file.

[2020-01-09 20:24] MarkTiedemann commented on #138
@brandonkal Didn't know about that. That's pretty sweet! Thanks for sharing. :)

[2020-01-11 03:04] axetroy commented on #138
@brandonkal

Nice!

[2020-01-11 04:12] #117 closed

[2020-01-11 04:12] #120 closed

[2020-01-13 18:19] hayd opened #186 "Docs broken for https://deno.land/x/lambda/mod.ts"
Perhaps due to interfaces? Related to #152?

[2020-01-14 03:44] zhmushan commented on #186
I think not related.
#152 was broken at `import { WriteError } from "./constant/errors.ts";`

[2020-01-14 03:50] zhmushan commented on #152
following code can reproduce the error:
[code]
I guess it's caused by a multi-level directory

[2020-01-14 05:58] #186 closed

[2020-01-14 18:58] hayd commented on #186
Is it expected the doc page would be blank? (That types don't show up.)

https://deno.land/x/lambda/mod.ts?doc

[2020-01-14 19:29] ry commented on #186
Ideally not - but the functionality for re-exports is not yet there. But at least it's not crashing anymore : )

[2020-01-15 18:53] bcomnes opened #188 "Proxy arbitrary repos from deno.land/x/?"
Would it make sense to allow the viewing / proxying of any repo from `https://deno.land/x/`?

e.g. something like `https://deno.land/x/gh/USERNAME/MODULE_NAME@BRANCH/SCRIPT.ts` for GitHub.  Or maybe just `https://deno.land/gh/...`.

Gitlab and others could be supported with alternate reserved prefixes.  Just thinking about the long term editorial and maintenance contract of database.json.  But may

[2020-01-15 19:02] ry commented on #188
I think we'll leave that to other hosts like pika.dev. In some ways deno.land/x is just way to bootstrap the HTTP module system. Maintaining database.json isn't much overhead.

(Ideally github would just have nice URLs, https://github.com/ry/foo/master/bar.js)

[2020-01-15 19:02] #188 closed

[2020-01-15 19:26] bcomnes commented on #188
Ok cool thanks for the context.  Yes agreed nicer GitHub URL’s would be ideal.  Fingers crossed pika supports an npm free workflow from GitHub in the future.  Right now it looks like it still needs to be published to a registry.

[2020-01-15 19:29] bcomnes commented on #188
Or perhaps GitHub’s own registry could support raw imports of assets.

[2020-01-16 20:53] ry opened #190 "order the data in benchmark menu"
<img width="945" alt="Screen Shot 2020-01-16 at 3 52 50 PM" src="https://user-images.githubusercontent.com/80/72561967-59ad9300-3878-11ea-8b83-16cac601ffe1.png">

This is difficult to read

[2020-01-18 13:59] fakoua opened #192 "Change to the Registry Page."
Hi,
In the registry page the top menu (Documentation, Repository, Raw) are displayed with BR and takes extra vertical spaces especially in mobile view.

I want to change this menu to inline horizontal view:

Documentation | Repository | Raw

Please let me know if you agree with this minor change to PR.

Thanks
![d01](https://user-images.githubusercontent.com/2089210/72664859-6dd5c980-3a0b-11ea-966

[2020-01-18 14:10] lucacasonato commented on #192
I think it's good. @ry?

[2020-01-18 14:16] ry commented on #192
sure lgtm

[2020-01-18 15:07] fakoua commented on #192
Committed:
[commit a80b9f0f9859c6246f58935373e8fbc3db09dd3c](https://github.com/denoland/deno_website2/pull/191/commits/a80b9f0f9859c6246f58935373e8fbc3db09dd3c)

[2020-01-19 16:00] fakoua commented on #192
will create new pr

[2020-01-19 16:00] #192 closed

[2020-01-21 03:11] jmarthernandez commented on #190
I can take this one.  Looks like it needs a `.sort` in `Benchmarks.tsx`.  Is alphabetically cool?

[2020-01-21 03:31] jmarthernandez commented on #190
Opened up #200

I can change the sort to whatever

[2020-01-22 00:54] kt3k opened #204 "The title of top page doesn't look beautiful."
The top page's title is now `deno /`. This doesn't look ideal. This also affects the title in the google search result page.

<img width="380" alt="スクリーンショット 2020-01-21 15 15 51" src="https://user-images.githubusercontent.com/613956/72856136-05356800-3cfd-11ea-9d72-2e7f0ac8e59c.png">

[2020-01-22 14:29] #204 closed

[2020-01-23 13:57] bartlomieju opened #207 "docs blank for https://deno.land/x/std/http/file_server.ts"
Go to https://deno.land/x/std/http/file_server.ts?doc

Page is empty, because there are no docstrings in that file. It would be nice if `Documentation` button was hidden if there are no docstrings.

[2020-01-23 17:42] brandonkal opened #208 "render tabs as 4"
The default tab size of 8 is excessive for code.
[code]

[2020-01-26 10:33] brandonkal opened #210 "Support line numbers"
Links such as this:
https://deno.land/x/lib/kite.ts:204:73
should function in the browser. This is handy as that is the format used in error messages that throw in the terminal.

(on a seperate note, it would be nice to see a Deno option to display these errors resolved to their actual on-disk location so clicking on them will open in the editor)

[2020-01-27 22:04] kitsonk opened #213 "Registry packages should only refer to relative URLs or `deno.land/x/`"
We should vet packages that are part of the registry to make sure that they don't refer to other hosts, outside of `deno.land/x/`.  We have had reports of some packages referring to `denopkg.com`, which is potentially a useful community feature but we should either include that capability (ability to refer easily to repos on GitHub) into `deno.land/x/` for the use such packages, or we expect every

[2020-01-27 22:10] ry commented on #213
I think it'd be better to treat deno.land/x as a deno-friendly URL shortener and only have restrictions on std.

[2020-02-02 14:05] brandonkal opened #218 "highlighting off"
Object literals with a key named "type" have that word highlighted purple.

[2020-02-02 21:25] lucacasonato commented on #207
Or maybe disabled with a popover that says that the file contains no docstrings?

[2020-02-04 16:19] Soremwar opened #222 "Q&A: Why does Node benchmarks change along with Deno commit history?"
Was curious on how Node's benchmarks were executed. And why do they change alongside Deno?

[2020-02-04 16:50] ry commented on #222
The measurements are noisy. There is some correlation between node and deno because each commit is run on different VMs (as allocated by github actions).

[2020-02-04 16:50] #222 closed

[2020-02-06 00:03] brandonkal opened #223 "Doc for tsx"
This line seems to suggest docs are not available for tsx and other extensions.

https://github.com/denoland/deno_website2/blob/b1dc9a9b17037ba1ee662f83fc2125a53ac2ebe2/src/page/Registry.js#L105

[2020-02-06 05:29] brandonkal opened #224 "[bug] Docs show incorrect function Types"
I've noticed the website is listing the return type here as any, which is not accurate.
The function signature is:
[code]
https://deno.land/x/lib/go.ts?doc

[2020-02-06 05:36] brandonkal commented on #224
If anyone knows why this is the case, I could look at landing a fix. In fact the parsing function would be useful outside of this website.

[2020-02-06 06:14] brandonkal commented on #136
@zhmushan I see your opened issue on VSCode was incorrectly labeled as a duplicate of an unrelated issue and closed. Have you opened a new issue there?

[2020-02-07 22:31] brandonkal opened #228 "feat: display Readme.md rendered below directory listing if not 404"
Often times the README is what one is after. If it exists in the list, the website should render it below the module's director listing.

[2020-02-07 22:32] brandonkal opened #229 "Source Code button contains "?" in link"
It would look a bit cleaner if the link didn't have an empty query param.

[2020-02-07 23:27] brandonkal opened #230 "[bug] if directory path does not end in "/" links are broken"
Example. Click on README.md for both locations
Works:
https://deno.land/x/lib/
Broken
https://deno.land/x/lib

[2020-02-07 23:30] brandonkal opened #231 "[feat] hide hidden files in directory listing"
These files can still be served from the proxy and via direct link, but it would make sense to exclude these files from the listing, maybe adding a button at the bottom of the list:
"Show 3 hidden items"

[2020-02-09 18:05] #228 closed

[2020-02-15 07:56] clemens-tolboom opened #240 "Add TOC sidebar for manual.md"
Comparing https://deno.land/typedoc/ with https://deno.land/std/manual.md a sidebar for the TOC would be great. I guess a PR should mimic the sidebar of https://deno.land/typedoc/

My fiddlle on a big screen was useful enough to navigate.

[code]

[2020-02-17 16:37] JohnstonCode opened #241 "docs broken https://deno.land/std/ hitting github api rate limit"
![image](https://user-images.githubusercontent.com/10222719/74671763-c54e8d00-51a3-11ea-8a72-0db8e3e2d9af.png)

[2020-02-17 16:41] #241 closed

[2020-02-19 22:39] lucacasonato commented on #190
@ry can be closed because #200 was merged

[2020-02-19 22:40] #190 closed

[2020-02-19 22:41] lucacasonato commented on #230
Same root cause as #116.

[2020-02-19 22:46] lucacasonato opened #245 "Wrong readme is displayed for subdirectories"
The wrong readme is displayed under the directory view of subdirectories (e.g. https://deno.land/std/examples/)

[2020-02-19 23:43] #245 closed

[2020-02-20 09:30] #116 closed

[2020-02-20 09:30] #230 closed

[2020-02-20 10:09] lucacasonato commented on #124
@ry Fixed by #248

[2020-02-20 10:28] #124 closed

[2020-02-28 16:19] lucacasonato opened #250 "discussion: Require explicit version references in the registry for GitHub modules"
I propose that we require a `@[version]` tag for `/x` and `/std` urls. This would mean we remove the automatic aliasing from `https://deno.land/x/std/manual.md` to `https://deno.land/x/std@master/manual.md` for registry modules with the type `github`. If a user tries to request a non explicit version reference the CF Worker should respond with a 400 error and the text `You should specify an explic

[2020-03-06 15:00] samuelgozi opened #257 "Is anyone working on a redesign? If not, can I do it?"
Hi, I'm a dev and a designer(you can laugh, but I wanna believe I'm good at both),
and from time to time I like to contribute to open source projects, with both.

I would like to work on a redesign for the homepage, and then possibly move to the rest. Nothing too fancy, just want to give it a little better structure and make it easier on the eye.

And don't worry, no compromises. If you guys don't

[2020-03-06 15:05] ry commented on #257
Hello - I'm happy to have contributions but full scale redesigns are probably going to be rejected. I'd rather move the website to a better place in small steps. So if you're interested in doing small patches to fix up stuff, that would be welcome, thanks.

[2020-03-06 15:05] #257 closed

[2020-03-06 18:32] totallymike commented on #241
This just happened to me. What's the fix?

[2020-03-09 13:13] JohnstonCode commented on #241
I was working on somethnig else and came back and refreshed and it was working.

[2020-03-09 13:23] ry commented on #241
It's from your own API limit. Your browser is the one making the request.

[2020-03-11 15:33] ry opened #264 "y-axis ticks for log scale plots on the benchmarks is broken"
<img width="968" alt="Screen Shot 2020-03-11 at 11 33 31 AM" src="https://user-images.githubusercontent.com/80/76434562-38ef4e80-638c-11ea-9a68-58ce416fdd25.png">

[2020-03-14 00:08] KSXGitHub opened #274 "Assertion Error on deno.land/x/denofun/"
**Step 1:** Go to https://deno.land/x/denofun/
**Step 2:** Open DevTools

[2020-03-14 06:04] KSXGitHub opened #276 "Page is blank when repo contains a symbolic link"
[denofun](https://github.com/galkowskit/denofun/tree/ee0fc8a912d6368902f1626e60da118a58361152) contains 3 symbolic links, and [deno.land/x/denofun](https://deno.land/x/denofun@ee0fc8a912d6368902f1626e60da118a58361152/) is complete white.

[2020-03-14 09:58] KSXGitHub opened #278 "deno.land/typedoc (without trailing slash) should redirect to deno.land/typedoc/ (with trailing slash)"
## Why?

Without trailing slash in the URL, links point to the wrong place.

For example:

![recording](https://raw.githubusercontent.com/KSXGitHub/deno-website-issue-278/master/recording.gif)

[2020-03-15 02:46] ry commented on #274
Seems to still be an issue? Any idea what's causing this?

[2020-03-15 02:48] ry commented on #276
Ah sorry - I get lost in all these issues - so the assert error is probably caused from the symlink....

[2020-03-15 03:08] KSXGitHub commented on #274
This issue is just duplicate of https://github.com/denoland/deno_website2/issues/276 that I created by mistake.

[2020-03-15 03:20] KSXGitHub commented on #276
This also affect [my recently added package](https://deno.land/x/args/) too. Its repo used to have symlinks, but I removed it right after discovery of this bug, but it's still blank.

[2020-03-15 03:23] KSXGitHub commented on #276
Output of `curl https://deno.land/x/denofun/compose.ts`: https://gist.github.com/KSXGitHub/36ee4f7c2887313bb7d5c46612653aae

[2020-03-15 10:52] KSXGitHub commented on #276
This is misleading. Closing this.

[2020-03-15 10:52] #276 closed

[2020-03-15 10:55] KSXGitHub commented on #274
I have discovered the cause of the issue. It is because `"lib"` field in database.json not having trailing slash.

What fix would you prefer:
  * Editing `getEntry` function in `registry_utils.js` to automatically add trailing slash?
  * Or add a rule to `database.json` to force trailing slash?

[2020-03-15 10:57] bartlomieju commented on #274
Second one is more explicit 👍

[2020-03-15 11:35] KSXGitHub commented on #274
@bartlomieju Choosing the second one means slowing down people from adding new package. I have experienced this when adding `deno-args`: I sorted the keys in wrong order, causing the CI to fail without informing me (via notification). I only discovered failure of CI few days later,

[2020-03-17 19:58] kitsonk opened #284 "Provide React and ReactDOM"
Provide URLs to React and ReactDOM that provide `X-TypeScript-Type` headers that point to `std/react/types`.

Ref: denoland/deno#4197

[2020-03-18 19:10] c4spar opened #285 "Add cliffy package"
https://github.com/c4spar/deno-cliffy

[2020-03-18 19:21] ry commented on #285
cool - please submit a PR

[2020-03-18 19:21] #285 closed

[2020-03-19 14:26] #274 closed

[2020-03-21 09:54] KSXGitHub opened #287 "Duplicated documentation entry for default export"
## Steps to reproduce

1. Go to https://deno.land/x/once/index.d.ts?doc (documentation page of https://deno.land/x/once/index.d.ts)

## Expected behavior

The documentation page should show `once` only once, and show `default` as an alias to `once`.

## Actual behavior

The documentation page shows `once` twice without `default`.

![screenshot](https://user-images.githubusercontent.com/11488886/77

[2020-03-22 14:36] zhmushan opened #289 "docs broken for https://deno.land/x/drash/"
minimal:
[code]
If we remove `parseHtml`, the page works, and it looks no different

[2020-03-23 10:50] zhmushan commented on #136
It has been fixed in v10 of highlight.js https://github.com/highlightjs/highlight.js/pull/2380

[2020-03-24 08:34] mathiasrw opened #292 "Example borken"
On the https://deno.land/std/manual.md page is the example

    deno install --allow-net --allow-read file_server https://deno.land/std/http/file_server.ts

With latest Deno installed you get

[code]

When you figure out to swap the location of the flags and it builds it starts getting errors. First one:

[code]

Using

[code]

![image](https://user-images.githubusercontent.com/1063454/77405183-1c

[2020-03-24 09:29] lucacasonato commented on #292
You seem to be using an old Deno version (0.31.0). The latest is 0.37.1.

You can also use the file server locked at version 0.31.0:
[code]

[2020-03-25 07:46] mathiasrw commented on #292
@lucacasonato Thank you for looking into this.

Hmm. This is strange. I upddates with `curl -fsSL https://deno.land/x/install/install.sh | sh` but still have 0.31.0

Am I meant to install in a different way?

![image](https://user-images.githubusercontent.com/1063454/77513277-fbeb8780-6e74-11ea-886a-74111b1bfd86.png)

[2020-03-25 08:36] cknight commented on #292
What is the output of `which deno`?  Also, you can try `/Users/mrw/.local/bin/deno --version`

[2020-03-25 11:50] mathiasrw commented on #292
Ohhh - look. It did get installed! Have we changed where its installed? LIke, is this because installation location have changed since I installed it the first time?

![image](https://user-images.githubusercontent.com/1063454/77533408-1b93a780-6e97-11ea-942e-d2854062ae9d.png)

[2020-03-25 13:48] ry commented on #292
@mathiasrw probably a homebrew install

[2020-03-25 14:20] mathiasrw commented on #292
Thanks. Ill find a way.

[2020-03-25 14:20] #292 closed

[2020-04-02 09:29] rjoydip opened #296 "issue(deno-debug): demo image not showing"
***Issue***
In reame file of `deno-debug` repo. There is a demo image but in deno docs it is not showing.

***Screenshot***
`deno-debug`:

![image](https://user-images.githubusercontent.com/15318294/78232765-5b3f3c80-74f2-11ea-8595-e7c096e5c014.png)

<hr />

`In deno dock`s:

![image](https://user-images.githubusercontent.com/15318294/78232706-45317c00-74f2-11ea-9ec4-46c561d5806d.png)

[2020-04-03 04:07] hayd opened #300 "Versioned directory is listing master"
Example: https://deno.land/std@v0.38.0/

doesn't include strings despite it being in v0.38.0:
https://github.com/denoland/deno/tree/v0.38.0/std/strings
https://deno.land/std@v0.38.0/strings/pad.ts

[2020-04-07 01:45] shian15810 commented on #138
@brandonkal Fetching from https://github.com/denoland/deno/releases.atom won't provide information about `prerelease` and `draft`.

[2020-04-08 17:25] Drunpy commented on #278
Solved by #311

[2020-04-08 17:43] lucacasonato commented on #278
@Drunpy This wasn't actually fixed.

[2020-04-08 17:47] Drunpy commented on #278
My bad. Thanks.

[2020-04-15 18:41] hayd opened #324 "Trailing slash on a file results in console error and doesn't resolve loading"
Example:
https://deno.land/x/lambda/mod.ts/

[2020-04-16 21:48] Schotsl opened #330 "Readme.md requires capitilization"
When you add a third-party package it will only show the README.md if its spelled in full capitalization, a repo like (https://deno.land/x/uwuifier/) won't display any readme since it's named "readme.md" in small letters.

I don't know if this is intended? I imagen there could be a few repo's that have this flaw, I'll change it to be full caps later on but for now, I've left it like this to demons

[2020-04-16 22:23] Schotsl commented on #330
I wrote [this](https://github.com/denoland/deno_website2/pull/331) pull request to hopefully fix the issue! :)

[2020-04-16 23:05] Schotsl commented on #330
The pull request has been merged so I'll close the ticket

[2020-04-16 23:05] #330 closed

[2020-04-23 19:47] lucacasonato commented on #57
Can be closed because doc.deno.land

[2020-04-23 19:47] lucacasonato commented on #59
Can be closed because doc.deno.land

[2020-04-23 19:47] lucacasonato commented on #63
Can be closed because doc.deno.land

[2020-04-23 19:47] #63 closed

[2020-04-23 19:47] lucacasonato commented on #64
Can be closed because doc.deno.land

[2020-04-23 19:47] #64 closed

[2020-04-23 19:48] lucacasonato commented on #75
Can be closed because doc.deno.land

[2020-04-23 19:48] lucacasonato commented on #207
Can be closed because doc.deno.land

[2020-04-23 19:49] lucacasonato commented on #152
Can be closed because doc.deno.land

[2020-04-23 19:49] lucacasonato commented on #223
Can be closed because doc.deno.land

[2020-04-23 19:51] lucacasonato commented on #224
If still valid should be moved to https://github.com/denoland/doc_website

[2020-04-23 19:52] lucacasonato commented on #289
Can be closed because doc.deno.land

[2020-04-23 19:52] lucacasonato commented on #287
Can be closed because doc.deno.land

[2020-04-23 19:54] lucacasonato commented on #229
Can be closed because doc.deno.land

[2020-04-23 20:01] #223 closed

[2020-04-23 20:14] #57 closed

[2020-04-23 20:14] #59 closed

[2020-04-23 20:15] #75 closed

[2020-04-23 20:15] #152 closed

[2020-04-23 20:15] #207 closed

[2020-04-23 20:21] #289 closed

[2020-04-23 20:21] #287 closed

[2020-04-23 20:21] #229 closed

[2020-05-02 11:49] lucacasonato opened #356 "Serve type stripped versions of files"
`https://deno.land/std/http/mod.ts` -> `https://deno.land/std/http/mod.ts?js`

[2020-05-02 17:57] mreinstein opened #358 "denoland should serve the correct mime type for hosted files"
I want to load modules hosted on denoland, but without the mime type being set, browsers won't load and execute the code. (the loader will complain about it not being a javascript mime type.)

(from https://github.com/denoland/deno/issues/5049)

[2020-05-02 18:02] mreinstein commented on #356
this would enable the use case of loading modules directly from a browser, which would be phenomenal.

[2020-05-03 18:48] ry commented on #356
ideally just
https://deno.land/std/http/mod.ts -> https://deno.land/std/http/mod.js

[2020-05-05 18:24] elitelinuxuser opened #363 "https://deno.land/x/argon2/ crashes, not sure of the exact problem but it crashes and shows white screen"
Console logs show this error
[code]

Also there are unnecessary logs shown on the console, which I think should not be shown.
Logs related to file names, branch name etc.,

[2020-05-05 18:24] lucacasonato commented on #356
Thought about this, but is relatively difficult because all imports also need to be rewritten from '.ts' to '.js' which is annoying. Serving a bundle at `https://deno.land/std/http/mod.ts?bundle` might be easier as a first pass.

[2020-05-05 19:02] ry commented on #363
Not our bug

[2020-05-05 19:02] #363 closed

[2020-05-07 14:20] Droces opened #368 "Design mockup"
Hi guys; just came across the project - which I think is super exciting! - and wanted to contribute. As a website designer developer, I thought I could start with a website design revamp.

[Mockup v1 in UXPin](https://preview.uxpin.com/ea6a824f96a4ad5fdc0f4112935ce2921fe0ed70#/pages/128607413/simulate/no-panels?mode=i)

That's as simple as it could be, without any colours / branding, which I think

[2020-05-07 14:25] ry commented on #368
Thanks for the offer but we have a new design that will be released soon.

[2020-05-07 14:25] #368 closed

[2020-05-08 20:33] sunsetkookaburra opened #371 "Repository README previews not displaying images correctly."
![image](https://user-images.githubusercontent.com/55334808/81446810-da452600-91be-11ea-8aa8-42ad4c3bd777.png)
![image](https://user-images.githubusercontent.com/55334808/81446830-e16c3400-91be-11ea-88fa-fbb2d227b04e.png)

(opened to track, i'll provide a patch to public/style.css)

[2020-05-11 19:52] JamesBroadberry opened #388 "Cannot access recently published 3rd party module when Accept header isn't present"
Hi,

I've recently submitted my module as PR #383 to the database.json file.
On the website, this looks fine and is available here: https://deno.land/x/bcrypt/mod.ts

However, when trying to import the code (or sending a GET request leaving the Accept header off with Postman) at the same URL, I get a 404 with message: "Not in database.json /x/bcrypt/mod.ts"

Here is the stack trace when trying to

[2020-05-11 20:17] JamesBroadberry commented on #388
I've looked through the code which handles the requests and stepped through the handleRequest function in worker/index.js manually.

Seems to resolve find and return fetch("https://raw.githubusercontent.com/jamesbroadberry/deno-bcrypt/master/mod.ts") which is correct.

Sounds like a CI thing but I'm not familiar with all of this so think this as far as I can go, sorry!

[2020-05-12 08:16] JamesBroadberry commented on #388
Looks like this is due to the [CI failing](https://github.com/denoland/deno_website2/runs/663130137).

Not sure if it's the solution but bumping the version of the Cloudflare wrangler action might solve it?

[2020-05-12 14:30] JamesBroadberry commented on #388
Looks like this was fixed as part of #393
Thanks @ry

[2020-05-12 14:30] #388 closed

[2020-05-13 01:48] leeoniya opened #397 "smaller/faster benchmark charting lib"
hey @ry

any interest in migrating the [benchmark charts](https://deno.land/benchmarks) from Apex to uPlot?

https://github.com/leeoniya/uPlot#performance

there's no log scale support yet, but everything else looks doable.

cheers!

[2020-05-13 03:16] heroboy opened #398 "Should accept url like 'https://deno.land/std/fs/copy.ts:132:8' nor 404"
This is what deno output.

[2020-05-13 16:31] ry opened #403 "Merge Luca's new website"
- [ ] change the REMOTE_URL in worker/src/handler.ts to https://deno-website2.now.sh
- [ ] switch the credentials and domains in worker.toml
- [ ] change the build settings on Vercel to "Next.js"
- [ ] change `github.repository` in `.github/workflows/ci.yml` to `denoland/deno_website2`

[2020-05-13 21:06] zjopy opened #406 "Rethink the Third Party Modules registry"
This issue has already been brought up multiple times in the old repo [#26](https://github.com/denoland/registry/issues/26),
[#117](https://github.com/denoland/registry/issues/117) and in this [issue comment](https://github.com/denoland/deno/issues/2473#issuecomment-623244622) on the main repo. In the meantime this new repo came up, and the old issues were archived. Now with v1 dropping and users

[2020-05-13 21:08] galkowskit commented on #406
Anything to stop namesquatting.

[2020-05-13 22:52] lucacasonato commented on #403
Fixed by #408

[2020-05-13 22:52] #403 closed

[2020-05-13 22:52] lucacasonato commented on #371
Fixed by #408

[2020-05-13 22:52] #371 closed

[2020-05-13 22:52] lucacasonato commented on #358
Fixed by #408

[2020-05-13 22:52] #358 closed

[2020-05-13 22:52] lucacasonato commented on #324
Fixed by #408

[2020-05-13 22:52] #324 closed

[2020-05-13 22:52] lucacasonato commented on #300
Fixed by #408

[2020-05-13 22:52] #300 closed

[2020-05-13 22:53] oplik0 opened #409 "re-add dark mode"
The new design is great, but unlike the older version it lacks dark mode.

I know that this is apparently worked on, but still - adding this issue to document this and perhaps inform others of the lack/status of this feature.

[2020-05-13 22:54] lucacasonato commented on #61
Fixed by #408

[2020-05-13 22:54] #61 closed

[2020-05-13 22:54] lucacasonato commented on #72
Fixed by #408

[2020-05-13 22:54] #72 closed

[2020-05-13 22:55] #224 closed

[2020-05-13 22:55] lucacasonato commented on #264
Fixed by #408

[2020-05-13 22:55] #264 closed

[2020-05-13 22:55] lucacasonato commented on #240
Fixed by #408

[2020-05-13 22:55] #240 closed

[2020-05-14 01:58] fnick851 opened #419 "Update VS Code plugin link on Manual"
The VS Code plugin listed on this page - https://deno.land/manual/getting_started/setup_your_environment - is already deprecated: https://github.com/axetroy/vscode-deno

I think the official one is this: https://github.com/denoland/vscode_deno/

[2020-05-14 03:04] Quadriphobs1 opened #434 "Deno Manual Next/Prev links"
The deno manual docs would be better with a next and prev link to guide through the manual pages one after the other.

[2020-05-14 03:10] Marcos-Costa opened #435 "Deno manual chapters blank"
The [7.5. documentation generator](https://deno.land/manual/tools/documentation_generator) and [7.6.Dependency Inspector](https://deno.land/manual/tools/dependency_inspector) chapters in deno manual are currently blank.

[2020-05-14 06:45] cknight opened #426 "std/log webpage errors out"
Visiting https://deno.land/std/log yields:

Unexpected end of JSON input

[2020-05-14 07:52] AvnerCohen commented on #406
1. Re "GitHub only" - if automatic inventory is based on "https://github.com/topics/deno" (as an example), wouldn't that mean same logic will be required to be applied on all source repositories just as well (bitbucket, gitlab, codeberg etc). and than, how about self hosting modules? not possible at all?
2. I think having a good and official way to help people find the best package should be somet

[2020-05-14 07:59] axetroy commented on #406
The problem is similar to cybersquatting

As long as a good module name is registered, others will no longer be able to submit the module

Even if this module has been deprecated and will not be updated for several years, it cannot be deleted

@denoland developers should pay more attention to the development of core modules and standard libraries. Instead of wasting a lot of time processing databa

[2020-05-14 08:01] a-was opened #431 "Logos href 404 error"
https://deno.land/manual
At the bottom of site some logos are returning 404 Not Found

- A hand drawn one by @ry - https://deno.land/images/deno_logo.png
- A pixelated animation one by @tanakaworld - https://deno.land/images/deno_logo_4.gif

[2020-05-14 08:45] a-was opened #432 "Manual page (documentation generator) not working"
https://deno.land/manual/tools/documentation_generator
No text or anything

![image](https://user-images.githubusercontent.com/44528455/81913128-d60a7580-95cf-11ea-9c9a-9d92c01aff29.png)

[2020-05-14 08:54] lucacasonato commented on #432
This is because this bit of documentation has not been written.

[2020-05-14 08:54] lucacasonato commented on #426
That is interesting.  Can you check if there are any errors logged to the console. Are you behind a firewall that blocks the Github API?

[2020-05-14 08:56] lucacasonato commented on #419
A PR fixing this has been opened on the denoland/deno repo: https://github.com/denoland/deno/pull/5292

[2020-05-14 09:00] cknight commented on #426
https://raw.githubusercontent.com/denoland/deno/master/std/log is returning 404, however I'm seeing this on most other std pages which are loading fine.  The only other error in the console is:

[code]

[2020-05-14 09:14] xiaohp opened #433 "Standard library page error"
https://deno.land/std
![image](https://user-images.githubusercontent.com/23056320/81916390-577cfa80-9606-11ea-89d8-752ed1a2cb64.png)
Failed to get directory listing
Querying the GitHub API failed. This is usually caused by a network outage or because you have reached your hourly API rate limit of 60 requests.

[2020-05-14 10:37] fnick851 commented on #419
@lucacasonato Thanks!

[2020-05-14 10:37] #419 closed

[2020-05-14 11:23] cknight commented on #426
OK, this is browser specific.  If I use Brave, I get the above.  If I switch to Firefox, the page loads as expected.  `https://api.github.com/repos/denoland/deno/contents/std/log?ref=master` is being treated as a cross-site tracker and is being blocked.  Taking Brave's 'sheilds' down resolves the issue.  Interestingly, `std/log` is the only page where the api call is being treated as a cross site

[2020-05-14 11:45] lucacasonato commented on #426
I would say so. Brave probably thinks anything with the word log in it is a logger. 🤷‍♂️

[2020-05-14 12:44] Soremwar opened #439 "[Proposal/Tracker] Add common asked questions in the webpage"
I could talk about answering the same questions every 5 minutes in the discord server XD, but i'll just do this

This issue is a tracker _(if this change is approved)_ for a common asked questions section in the website that compiles the conversations around the module system and all sort of controversy topics that people often ask.

Not sure if its @lucacasonato or @ry the one to give a thumbs up

[2020-05-14 12:53] cknight commented on #426
Issue logged against Brave:  https://community.brave.com/t/incorrect-cross-site-tracking-block-for-url/126852

[2020-05-14 12:53] #426 closed

[2020-05-14 13:02] lucacasonato commented on #433
Yes - this means that you have looked at so many pages that you have depleted your rate limit. This is expected, and we can not do anything about this.

[2020-05-14 13:03] lucacasonato commented on #435
This is because they are empty - there are actually no docs for these atm. Sorry...

[2020-05-14 13:05] #435 closed

[2020-05-14 13:05] #432 closed

[2020-05-14 13:08] therealadityashankar opened #461 "@versions to list down all versions of a module [Enhancement]"
any version management service requires being able to discover all the available versions,

lets say in a module, I use

[code]

it'd be nice if I could do something similar to

[code]
if it'd return

[code]

there's currently no standardised way of discovering all available versions of a file,

currently, for example, [deno-udd](https://github.com/hayd/deno-udd), uses a variety of techniques to f

[2020-05-14 13:10] cknight commented on #435
@lucacasonato not sure if it's worth it, but on missing/empty docs, could a message be put up instead saying 'No docs currently available' or whatever?

[2020-05-14 13:33] lucacasonato commented on #431
Fixed by #421

[2020-05-14 13:33] #431 closed

[2020-05-14 16:48] avevlad opened #451 "Querying the GitHub API failed"
<img width="492" alt="Screenshot 2020-05-14 at 7 46 58 PM" src="https://user-images.githubusercontent.com/2889662/81961999-c9137380-961b-11ea-879a-3f5f229d8377.png">

[2020-05-14 16:48] #451 closed

[2020-05-14 16:49] avevlad commented on #451
duplicate #433

[2020-05-14 17:47] sidvishnoi opened #453 "Consider adding background-color on `search_field`"
This is how the search field looks on Firefox on Ubuntu.
![image](https://user-images.githubusercontent.com/8426945/81967278-549afd80-9638-11ea-822c-c9c63341f19e.png)
vs in Chrome:
![image](https://user-images.githubusercontent.com/8426945/81967358-6d0b1800-9638-11ea-9aa2-db763eff6168.png)

~I would've sent a PR, but I don't want to learn Tailwind at this time.~

Trivia: Firefox uses a special col

[2020-05-14 18:37] KeziahMoselle opened #457 "ux: "active" link indicator in the sidenav for the manual"
![A page on the manual](https://i.imgur.com/htY5PGS.png)

Adding a distinction between an active and a normal link in the sidenav would greatly improve the UX

Because i'm often trying to CTRL+F to find where I was in the sidenav, little details you know !

[2020-05-14 18:40] kennanseno commented on #457
I can pick this up unless you wanna take it yourself @KeziahMoselle ?

[2020-05-14 18:42] KeziahMoselle commented on #457
Feel free to do it @kennanseno !

[2020-05-14 21:11] smkamranqadri opened #464 "Downloads number of package"
Just curious to know which is used most but I didn't see anything on deno.land/x

[2020-05-14 21:14] smkamranqadri commented on #464
For starters, adding number of stars might help people to choose.

[2020-05-14 21:24] sidvishnoi commented on #461
GraphQL API requires a GitHub token.

[2020-05-14 22:17] therealadityashankar commented on #461
is there a reason we're not using one ?, it seems quite easy to get one tbh

[2020-05-14 22:18] kennanseno opened #466 "Copying code snippets does not include spacing so gets removed when pasted"
Copy:
<img width="1174" alt="Screenshot 2020-05-14 at 23 14 22" src="https://user-images.githubusercontent.com/7852866/81991365-ffabb700-9638-11ea-8495-f0f37a05e8b9.png">

Paste:
<img width="522" alt="Screenshot 2020-05-14 at 23 15 53" src="https://user-images.githubusercontent.com/7852866/81991376-063a2e80-9639-11ea-84c3-c4456b67c7ae.png">

[2020-05-14 22:27] sidvishnoi commented on #461
The website is mostly client-side. That would mean exposing a GitHub token on the frontend (as we won't be asking user to login or enter a GitHub token to view stats, someone would need to make their GitHub token public - which is bad).

[2020-05-14 22:51] therealadityashankar commented on #461
I guess the major issue i'm trying to say is that every user will have to manually check the github releases page for every package to stay up-to date, this is problematic in the long run, especially by packages that have a long list of dependencies

I think the worker approach is for the best here

[2020-05-14 22:51] timharek opened #470 "Search is not working in the Manual"
I'm using latests Firefox 76.0.1, also tried latest Safari and no luck with the search function in the manual; https://deno.land/manual

[2020-05-14 22:58] slikts commented on #409
Everything in my system is set to use dark mode, including web sites using [Dark Reader](https://darkreader.org/), but this doesn't work for deno.land, so now I have an actual headache from basically staring into a spotlight (it's late).

[2020-05-15 05:14] eoftedal opened #480 "Dont use curl | sh for installation"
When promoting something as a secure alternative, this will make a lot of people iffy:
https://github.com/denoland/deno_website2/blob/master/pages/index.tsx#L295

Please use better ways of installing it (apt, brew etc.) instead of curl|sh.

[2020-05-15 06:53] cknight commented on #426
FYI, now fixed in upstream Brave.

[2020-05-15 08:13] AnandChowdhary commented on #464
I don't see how this would be possible, because deno.land/x is just serving files from GitHub/etc., not from a dedicated registry like npm. Perhaps on the CDN side, number of file requests can be tracked?

[2020-05-15 08:32] AnandChowdhary commented on #406
Also, making PRs to `database.json` will be super hard after there are thousands of packages because the JSON file itself will be several MB in size. If Deno grows like Node, we can expect there to be hundreds of thousands of packages wanting to be published in the third-party registry.

I'm all for using a GitHub repository as the source of truth rather than a dedicated closed registry like NPM,

[2020-05-15 09:41] lucacasonato commented on #464
This is possible, but will probably be difficult.

[2020-05-15 13:07] KeziahMoselle opened #488 "consider adding opengraph cover images"
When someone links the Deno website the cover image will be easier to scan and will probably be helpful for sharing or references purposes (in personal wikis for examples that embed a cover)

Of course it is a small detail but it can be a great addition ! 😄

![Current preview](https://i.imgur.com/lynjpjx.png)
[See on https://metatags.io/](https://metatags.io/)

I'm using Notion and when I create a

[2020-05-15 13:27] lucacasonato commented on #461
@therealadityashankar /x/ already has a drop down for version information that is requested client side. No need to go to Github.

[2020-05-15 13:30] trivikr opened #491 "Port website to deno"
The README states that

As Deno has now released 1.0, can the work to move website to deno get prioritized?

The Node.js community loves that this website runs on node, but it's an easy laughing stock for questioning capabilities of Deno (check replies to [example tweet](https://twitter.com/matteocollina/status/1261254765348032512?s=09))

[2020-05-15 13:49] mcollina commented on #491
As the author of that tweet, there is nothing mocking in it from my side. I genuinely love it, as Next.js is a fantastic framework.

(As much as it would if it was running on Wordpress - which is still fantastic).

[2020-05-15 13:54] lucacasonato commented on #491
I fully agree that this will be great to do. The website can be ported when Deno is ready for this. Currently the tooling that is needed to make a good, high performance site like tree shaking and code splitting capable bundlers, static generation frameworks, css bundlers, minifiers ect are just not there yet.

Next.js is a really great framework, but sadly only exists for node. Having the Deno te

[2020-05-15 14:01] therealadityashankar commented on #461
I hope this conversation does not start to get frustrating, I can understand if it does, :heart:

basically, so if anyone needs to find version information (branch information in this case), they'd have to goto the deno website and check manually, which obviously, as I mentioned above is problematic if someone has a log list of dependencies

moreover, if one wants to automate this procedure (i.e.

[2020-05-15 14:02] qadratic commented on #208
which page?

[2020-05-15 14:16] qadratic commented on #470
I doubt there is some code to do that. Its very much work in progress.

[2020-05-15 14:17] lucacasonato commented on #470
Yup - it is not implemented atm. We should remove the search field for the moment.

[2020-05-15 14:49] qadratic commented on #470
I can actually make it functional but at the moment I am opening a pr to disable it.

[2020-05-15 14:53] nayeemrmn commented on #470
@lucacasonato A single page view would be great, so we could <kbd>Ctrl</kbd>+<kbd>F</kbd> and for lots of other reasons. Might not need a built-in search. Would it be very difficult?

[2020-05-15 14:55] loilo commented on #470
I think even on a single page, a built-in search would still have benefits, especially when it comes to prioritization of search terms (e.g. higher weighted in headlines than in body text etc.)

[2020-05-15 14:59] lucacasonato commented on #470
Difficult no, just a lot of fetches to GitHub.

[2020-05-15 15:30] mechamobau commented on #488
I want to work on it, the image showed in the card can be the image located on `public/v1_wide.jpg`?

[2020-05-15 15:39] dorshinar opened #494 "Auto close side bar on mobile"
Clicking on a link in the side bar on mobile devices does not close it, making it more difficult to go through the docs.
It would feel much more natural if it closed when clicking a different section.

[2020-05-15 15:47] nayeemrmn commented on #470
We need a way to publish some set of auto-generated files with every commit on master. This would be used for `lib.deno.d.ts` (which can only be accessed on latest release right now, a crippling inconsistency), `docs/toc.json`, and a pre-concatenated single page manual.

We do this with https://github.com/denoland/benchmark_data...

[2020-05-15 18:33] garronej opened #502 "Deno.land serves the wrong raw files ( but the right HTML )"
Hi,

If you visit https://deno.land/std/node/_fs/_fs_readlink.ts ( not specifying the branch ) you will get an HTML page displaying the current version of the file.

However if you ``wget https://deno.land/std/node/_fs/_fs_readlink.ts`` you will get a very old version of the file for some reason...

[2020-05-15 19:28] qadratic commented on #494
Yes, it works only once.

[2020-05-15 23:56] oplik0 commented on #480
If you look just a few lines below it you'll see brew.
Deno isn't yet possible to install via apt - and adding it there isn't an issue with the website. And it does exist in the correct repo: denoland/deno#1583

However, Deno is available on some package managers besides chocolatey/scoop/brew that are mentioned on the website - see [here](https://repology.org/project/deno/versions)

I think AUR an

[2020-05-16 00:39] brandonkal commented on #208
All pages need it. Here's an example with tabs. https://deno.land/x/lib/dedent.ts

[2020-05-16 05:12] buckle2000 opened #515 "Scroll TOC to current section on page load"
For example, the following page (9.1) is not visible in navigation when opened:
![image](https://user-images.githubusercontent.com/10850402/82111289-da3aae00-9709-11ea-8e9d-8208525537f9.png)

This should be fixed for mobile too.

[2020-05-16 05:24] buckle2000 opened #516 "Link to source markdown files on Github"
I think each page in /manual should link to a file in https://github.com/denoland/deno. It will let people to find it more easily.
I don't understand why https://github.com/denoland/deno is not a git submodule.

btw, the `.map` loop syntax in JSX is really terrible.

[2020-05-16 05:44] smkamranqadri commented on #464
How about adding stars badge like this.

https://img.shields.io/github/stars/oakserver/oak.svg?style=social&label=Star&maxAge=2592000

[2020-05-16 05:58] smkamranqadri commented on #464
Something like this.

<img width="971" alt="Screenshot 2020-05-16 at 10 58 06 AM" src="https://user-images.githubusercontent.com/13115396/82112198-261a4100-9764-11ea-9674-66f5c3e73256.png">

[2020-05-16 07:18] kidonng commented on #278
https://github.com/denoland/deno_website2/blob/c0bff87d6f2e012ca9dcf7d5eab4eeee876f6d90/worker/src/handler.ts#L15-L17

[code]

Does this simple and stupid solution look fine?

[2020-05-16 07:22] kidonng commented on #398
Duplicate of #210

[2020-05-16 11:36] buckle2000 commented on #461
The website (like https://deno.land/std/encoding/utf8.ts) also has no version at all. I have to go to https://deno.land/std/ and click on `version.ts` to check the latest version. It's inconvenient.

[2020-05-16 12:32] lucacasonato commented on #480
More related to denoland/deno_install

[2020-05-16 12:33] lucacasonato commented on #470
Algolia DocSearch might work for this too: https://docsearch.algolia.com/

[2020-05-16 12:34] lucacasonato commented on #516
I agree, a footer under each page with a link that says `Edit on GitHub` that links to the correct file on GitHub.

[2020-05-16 12:37] lucacasonato commented on #502
I can not reproduce. What is the difference?

[2020-05-16 12:41] garronej commented on #502
Well, the difference was that it didn't serve the version on master.

Anyway, it seems to be working now as I can no longer reproduce.
I close this issue now, I will reopen it re surface.

Thanks

[2020-05-16 12:41] #502 closed

[2020-05-16 12:44] lucacasonato commented on #461
@buckle2000 There is a version dropdown:
![image](https://user-images.githubusercontent.com/7829205/82120009-56bda300-9783-11ea-8d42-fa59dceb3fe8.png)

---

While this proposal would be cool, but its not possible due to limitations with the GitHub API. /x has over 200 modules - which each have a paginated response in the GitHub API, thus needing multiple requests to get the full version list. That

[2020-05-16 13:52] buckle2000 commented on #461
I totally missed it! Thanks!

[2020-05-16 13:58] therealadityashankar commented on #461
this is an understandable answer, I'm closing the issue for now, thanks for the help @lucacasonato, @buckle2000, @sidvishnoi, @kitsonk  :heart:

[2020-05-16 15:03] maman opened #530 "Search on stdlib page"
Hi!

Please consider a search feature on the stdlib page - https://deno.land/std

deno’s stdlib are pretty big, and it includes some niceties e.g code examples. I think it’ll help people to explore and understand the stdlib by using the search feature.

[2020-05-16 15:04] maman commented on #530
also might be related with #470?

[2020-05-16 15:25] therealadityashankar commented on #461
Reopening the issue because I just realised that in GraphQL, this **does not exceed the rate limit** !, and is **not an expensive operation**

the cost of this operation in graphql is 1/5000,

don't believe me, test it your self using this - https://gist.github.com/therealadityashankar/ffa2fa9a8001cc48b6c5dfe37fc61200

if you're using a linux computer, you could do -
- `wget https://gist.githubuse

[2020-05-16 15:31] therealadityashankar commented on #461
![betty white dabbing](https://media.giphy.com/media/A4R8sdUG7G9TG/giphy.gif)
<p><a href="https://giphy.com/gifs/A4R8sdUG7G9TG">via GIPHY</a></p>

I hope this does not become a curb your enthusiasm thing, it might, LMAO

[2020-05-16 16:03] wojpawlik commented on #409
Dark Reader works for me on deno.land in Static and Filter(+) mode.

[2020-05-16 16:07] buckle2000 commented on #461
That's only for Github repos though.

[2020-05-16 16:08] kidonng commented on #530
#470 is about manual search, while this issue is about stdlib search.
For the moment you can use GitHub search: https://help.github.com/en/github/searching-for-information-on-github/searching-code#search-by-file-location

[2020-05-16 16:11] therealadityashankar commented on #461
@buckle2000, and deno.land also only works for github repos

[2020-05-16 16:19] kidonng commented on #480
The installing scripts are open source and easy to read. I don't see any problem about executing remote scripts if you **know and trust** the source.
That said, anyone having security concerns can simply grab the binary by hand, Deno is made simple for this use case.

[2020-05-16 16:33] kidonng commented on #464
The registry is still in early stages (lacks lots of features, etc.), may be too young to add an analytics.
Showing GitHub stars is both simple and effective.

[2020-05-16 16:50] kidonng commented on #433
jsDelivr has a [API](https://github.com/jsdelivr/data.jsdelivr.com/blob/master/README.md#list-package-files) for listing package files and seems to be used by Yarn registry.

[2020-05-16 16:53] lucacasonato commented on #433
Oh @kidonng that is a good find! I will look into this.

[2020-05-16 16:55] lucacasonato commented on #461
@therealadityashankar That is not correct. It can also proxy any URL or packages from NPM.

There might be a solution for the rate limit. I will look into this further.

[2020-05-16 16:55] kidonng commented on #461
Why bother about GitHub's rate limit when we have CDN like jsDelivr?

https://data.jsdelivr.com/v1/package/gh/denoland/deno

This is pretty simple to implement.

[2020-05-16 18:49] therealadityashankar commented on #461
the above link does not work

[2020-05-16 19:54] jimsimon commented on #250
I agree with this proposed change. I think master should be removed entirely from the drop-down of options and it should instead default to the most recent versions/tag/branch.

Having this default to master is opening up authors (including the authors of the standard libs) to a lot of potential pain. If/When a breaking change is published to master, people are going to file issues and complain th

[2020-05-16 19:59] jimsimon opened #539 "Allow filtering packages by browser and/or server flags"
Add `browser` and `server` flags to database.json schema to allow filtering packages by whether they will work on the browser or not. Existing packages should default to `server: true` and `browser: false` since that assumption is safe to make.

Adding these flags will allow for filtering on the website via a couple checkboxes.

[2020-05-16 21:29] #494 closed

[2020-05-16 21:38] #457 closed

[2020-05-16 21:38] #515 closed

[2020-05-16 21:40] #516 closed

[2020-05-17 00:42] piscisaureus opened #546 "API reference is hard to find - should be linked on top of page"
# It's not here:

![image](https://user-images.githubusercontent.com/218257/81892748-28d23600-95ac-11ea-9782-c9b78e39e025.png)

# Not here either:

![image](https://user-images.githubusercontent.com/218257/81892790-47d0c800-95ac-11ea-9533-07a17d1a8ff2.png)

# It must be somewhere. But where...? Oh!

![image](https://user-images.githubusercontent.com/218257/81892911-92524480-95ac-11ea-8440-3eb08168

[2020-05-17 01:14] kidonng commented on #546
`doc.deno.land` is hard to discover too. (Looks like it's the same problem)

[2020-05-17 01:55] searchableguy opened #547 "Is there any consensus on using reserved keywords as package name"
- enum:
https://github.com/denoland/deno_website2/blob/98a4d631b95740fd2c9ba0cc4276c1cc267dd548/database.json#L642-L647

- case:
https://github.com/denoland/deno_website2/blob/98a4d631b95740fd2c9ba0cc4276c1cc267dd548/database.json#L129-L134

Both are reserved keywords so imports like import case from "deno-change-case" won't work. But currently, I am using a script to import some of them and I hav

[2020-05-17 02:10] crowlKats opened #548 "/x/ should be curated"
In my opinion, `/x/` should be a strictly curated list of modules, instead of "all" modules being accepted. Due to the nature of deno modules - which is importing by URL - this wouldnt be an issue at all, and would also help keep things decentralized, which is one of deno's main points.
If this isn't wanted, we should then have something along the lines of `/curated/`.

[2020-05-17 02:25] kidonng commented on #547
The current implementation of the registry is rather simple and prone to error. Discussion at #406

[2020-05-17 02:29] searchableguy commented on #548
check this https://github.com/denoland/deno_website2/issues/406

[2020-05-17 02:30] WA9ACE commented on #406
I agree. I had assumed, my own fault, that `/x/` was similar to GoLang's `x` namespace where those packages are maintained separately from the core runtime. As part of Deno's core features is decentralized url based imports it seems disingenuous to have (at the time of this writing) 293 packages under the `x` namespace on the official `deno.land` TLD.

[2020-05-17 02:35] mechamobau opened #550 "Consider adding support to different languages"
It would be nice if the Manual and the Home Page could be translated into different languages. Maybe a good library choice to use in this case is `next-i18next`.

https://github.com/isaachinman/next-i18next

[2020-05-17 02:47] kidonng commented on #548
The community alreay maintains a curation: https://github.com/denolib/awesome-deno

[2020-05-17 03:11] Yamboy1 commented on #548
+1 That's what I had originally thought deno /x/ was, a more curated list of modules. Personally I'm not a big fan of the whole nodejs philosophy of lots of micromodules that everyone uses, `is-number`, `is-promise` etc come to mind, many of which are already on deno.This caused the issue with `left-pad`, as well as issues with outdated modules using vulnerable dependencies. I also don't believe t

[2020-05-17 03:26] Willamin commented on #406
The Crystal community handled a similar problem by creating a few unofficial web apps that did no more than search GitHub for Crystal projects and return a list.
Anyone in the Deno community could create a similar web app that would search across popular git hosts for Deno projects.

[2020-05-17 06:55] kidonng commented on #406
# The current Deno registry

- `deno.land/std`: Hosting the standard library. Works as intended
- `deno.land/x`: Proxy to GitHub/npm/etc. Relies on `database.json`.
- Also function as a code browser.

# The problems/features we need

- **Security**: Auditing, security alerts...
- **Scalability/Maintainability**: a single JSON file won't satisfy future needs, nor will a single repo (take [CDNJS](ht

[2020-05-17 07:07] therealadityashankar commented on #461
hey !, I'm willing to contribute, so if you're comfortable with it can I open a pull request with support for this ?

[2020-05-17 07:34] AnandChowdhary commented on #406
I agree, we should then focus on completely independent packages. We are free to create a site (like go/x) where people can search for packages, like others can built too.

However, if we're removing "official" package names, I highly recommend getting rid of deno.land/x entirely, because it's not different from any other GitHub proxy CDN, and if the URLs are going to be deno.land/x/github/usernam

[2020-05-17 09:23] buckle2000 commented on #515
I don't think this is fixed.

[2020-05-17 09:44] buckle2000 opened #556 "Development node process takes too much memory"
When I run `yarn dev`, there is this one node process using all the memory (I have only 4G of RAM) and CPU all the time. I have to run it with `nice -n 10` to keep my computer usable, but then it still uses a lot of memory. It is probably related to https://github.com/zeit/next.js/issues/7929. I don't know any easy fix to this.

[2020-05-17 11:13] parzhitsky commented on #406
Hopefully, my two cents will be helpful.

Since there is a distinction between different types of database entries (`"github"`, `"npm"`, `"url"`, etc.), I'd say this is reasonable to make this distinction in module system as well, &mdash; for example, with some kind of qualifier:

[code]

This would let us reuse a lot of existing stuff in an (imo) clear and elegant way.

[2020-05-17 11:13] parzhitsky commented on #406
Some examples:

[code]

[code]

[code]

[2020-05-17 11:15] lucacasonato commented on #406
@parzhitsky This is incompatible with the web platform. Also this is an issue about `denoland/deno`, not about the website.

[2020-05-17 11:20] algiuxass opened #560 "images/deno_logo_4.gif looks bad on some apps/browsers"
Rain animation looks bad on some browsers/apps (Discord on iPhone and Linux) and may look fine on browsers/apps (Firefox on Linux).

Original:
![deno_logo_4](https://user-images.githubusercontent.com/33424336/82143322-b7b0ae00-984b-11ea-9e0a-cfa5279d616c.gif)

I asked couple of people on Discord to confirm this problem, for some people it animates rain correctly, for some it does not.

![2020-05-1

[2020-05-17 11:24] lucacasonato commented on #218
This should be resolved now

[2020-05-17 13:52] Qu4k opened #562 "Link parsing of README is inconsistent with Github Markdown"
### Issue
You can see this issue in the README.md file in the status module ([GitHub](https://github.com/denosaurs/status) vs [Deno](https://deno.land/x/status)). The square brackets in the headings are not followed by a `()` but they are still parsed as links in the Deno markdown rendering. This is not the case in the Github markdown rendering of the same README.

### Possible solution
[code]

[c

[2020-05-17 13:54] #546 closed

[2020-05-17 15:32] #208 closed

[2020-05-17 20:30] maximousblk commented on #406
Possible solution to `database.json` if you really want to accept submissions through pull requests :

Break it down into separate directories. Use a structure similar to `deno.land/x/USER/MODULE/mod.ts`. that means, create a separate directory and accept pull requests to your dedicated directory.

This would solve the review problem if you can write a check and automatically merge the pull reques

[2020-05-18 00:28] kidonng commented on #406
Deno requires explicit file extension.

[2020-05-18 00:46] frunkad opened #579 "Reference to a non-available package keeps loading"
When referring to a non-std package which does not exist it keeps loading.

Eg: https://deno.land/x/random-package

Whereas doing the same for std package shows a valid error response

Eg: https://deno.land/std/random-package

[2020-05-18 00:46] frunkad commented on #579
Can I take this issue, might need a little guidance.

[2020-05-18 04:57] AvnerCohen commented on #406
1. Another community to try and take input from is the `brew` community.
They too take commits for each module (separate) and also deal with some level of curation.
What they do for example, is if they after X month a package is not in use, it might as well be removed.

There are many other things going on, but I think it could be very relevant if the intention is to try and keep this under some c

[2020-05-18 05:05] maximousblk commented on #406
What if the URL doesn't have the extention but the server replies with the `mod.ts` file when not specified.

In [one of my experiments](https://github.com/maximousblk/dvm), I discovered that this works with the CLI, but haven't tried it in a script. I'll do some tests and post it here.

[2020-05-18 05:06] kidonng commented on #406
You mean `deno run`? It's not import at all.

[2020-05-18 05:16] maximousblk commented on #406
I'm new to JavaScript so, you can't expect much from me.

If that doesn't work, then URLs will be of the format : `cdn.denojs.org/USER/MODULE@VERSION/FILE.ts`

[2020-05-18 05:49] kidonng commented on #406
@AvnerCohen

Things are different between package managers for **system** and **programs**.

- Software is way less in quantity compared to code modules.
- Software manifest file needs to be written by hand and can take many efforts sometimes, while for code modules it can even be generated automatically.

I myself maintain an index for `scoop` (a Windows package manager) and know it well.

Defini

[2020-05-18 06:25] Nexxkinn commented on #406
I'm more interested with the idea of using bitTorrent protocol to store the module.
Essentially, the server acts as a tracker, and deno can download the module based on peer/seeders available. Obviously, one additional server acts as a backup if no seeders/peers detected.

The developer give magnet link ( or similar ) with the trailing `@version` at the end for version control.
The user can import

[2020-05-18 07:14] millette commented on #406
@Nexxkinn I couldn't resist plugging [hyperdrive](https://blog.hypercore-protocol.org/posts/announcing-hyperdrive-10/) (or `dat` if you're familiar with that) which is essentially an updateable torrent.

[2020-05-18 07:44] Nexxkinn commented on #406
Oh yeah, using Hypercore protocol is much more suited in this case.

[2020-05-18 10:35] rjoydip commented on #562
Issue is in `react-markdown`. But it's not in `LinkRenderer` issue. Issue is in `HeadingRenderer`

[2020-05-18 12:27] #434 closed

[2020-05-18 13:34] Qu4k commented on #562
My _possible solution_ was a quick fix on the deno website side. I too saw that the problem resides in fact on the `react-markdown` but I figured a maybe it was meant to be a feature. Thanks on opening the issue though :)

[2020-05-18 13:56] #466 closed

[2020-05-18 14:50] silvioprog opened #594 "RSS/Atom support"
Please enable RSS/Atom support at the blog/site. It will be useful to get groups/forums (e.g.: in Telegram, using `@rss2tg_bot`) updated regarding new posts.

[2020-05-18 18:53] smith opened #601 "Blank example on home page"
On https://deno.land/#getting-started the command under "Try running a simple program" is blank:

![image](https://user-images.githubusercontent.com/9912/82248742-40901e00-990e-11ea-814b-aac1ea4e5371.png)

Looks in the DOM like there's no content there, but it looks like it's there in the CodeBlock component in the code.

[2020-05-18 19:46] #601 closed

[2020-05-19 01:30] jimsimon opened #606 "Allow semver ranges and identifiers in urls"
The website should be able to resolve semver symbols. Being able to use semver to dedupe dependencies is an important step towards facilitating the development of medium to large web apps using Deno. I believe some other github redirectors already support this as well.  While we could use those CDNs instead, the deno.land registry is currently the only place that exclusively lists deno modules. It

[2020-05-19 05:02] hayd commented on #606
This seems like a recipe for breaking. I guess I am bias/prefer [udd-style fragments](https://github.com/hayd/deno-udd/blob/master/README.md#semantic-versioning) (where dependency urls are only updated explicitly by the maintainer, not randomly by a user).

Despite this being relatively standard it has always seemed crazy to me... What is the benefit?

[2020-05-19 06:05] jimsimon commented on #606
So a lockfile (which deno supports) allows you to fix the versions to a degree. Some way to do resolution overrides also helps (import maps might help here). So there are ways to do so, and nothing I'm proposing stops you from using fixed versions in your modules if your preference is to avoid them.

The main benefit of using semver is runtime performance of larger web apps (client primarily, but

[2020-05-19 12:50] anuoua commented on #406
If there is no center registry，it means no registry mirror.
It will be much slower to download files in my country.
Sometimes, large project takes several days to download the file...

[2020-05-19 16:23] #488 closed

[2020-05-19 17:07] rjoydip opened #617 "github like line highlighted"

[2020-05-19 17:47] therealadityashankar opened #619 "document generator documentation is absent"
https://deno.land/manual/tools/documentation_generator does not have any documentation on the website
![image](https://user-images.githubusercontent.com/21975892/82360328-d8812b00-9a26-11ea-9eca-c8dd6d4aba63.png)

[2020-05-19 17:48] therealadityashankar commented on #619
closing this issue and moving it to denoland/deno

[2020-05-19 17:48] #619 closed

[2020-05-19 17:50] nayeemrmn commented on #619
@therealadityashankar It's got a TODO comment in it, won't really be a helpful issue unless you intend on addressing it?

[2020-05-19 18:37] rjoydip opened #624 "sidebar menu close button working"
Deno manual close button not working on small screen.

![localhost_3000_manual(iPhone 6_7_8 Plus)](https://user-images.githubusercontent.com/15318294/82365155-e7b7a700-9a2d-11ea-9693-197daa2b607b.png)

[2020-05-19 18:43] hacked commented on #406
I've been thinking about this for quite some time now and came to the conclusion that it's pretty much impossible to satisfy everyone with a single solution. I think it's important to remember what Deno is trying to achieve at the core, which is discard the need for something like npm.

That does however not elminate the need for a registry, which allows searching and browsing modules. For that re

[2020-05-19 18:49] lucacasonato commented on #624
What device are you using? It works for me

[2020-05-19 18:55] rjoydip commented on #624
@lucacasonato Sorry for the incontinence. It's working now for me too after pull the latest code.

[2020-05-19 18:55] #624 closed

[2020-05-20 00:07] sibbngheid opened #633 "Why readme icon wrapped with svg?"
https://github.com/denoland/deno_website2/blob/f6a0a65c8f1baea1e17d1f24994e5167f638940e/components/Registry.tsx#L478-L488

While all other icons are have only path, readme icon is have its own svg tag. This renders svg in svg and probably this `group-hover` is never shouldn't be here..

[2020-05-20 00:07] ebonynon commented on #406
@hacked solution is so good but can not solve **scale** problem. If we combine @millette and @Nexxkinn solution with @hacked solution, we can solve **scale** problem.

Big companies can invest for CDN but indie developer could not there for if we use [hyperdrive](https://hypercore-protocol.org/), we can solve  **scale** problem.

We need redirect service as Hyper URLs are hard to use,

`hyper://a8

[2020-05-20 03:08] millette commented on #406
Regarding `hyper/dat`, there's https://github.com/datrs in rust world.

[2020-05-20 04:04] rjoydip commented on #617
#620

[2020-05-20 07:22] ry commented on #406
I appreciate you sharing your thoughts. This isn't the highest priority thing for us, so I think we'll be continuing database.json for the foreseeable future. I don't want to complicate the system by adding a database until I really am feeling the pain of database.json.

[2020-05-20 07:22] #406 closed

[2020-05-20 07:43] maximousblk commented on #406
Similar to node, where you didn't fix everything until you regret it.

It would be easier for early adopters if this was fixed.

[2020-05-20 08:54] AmanRaj1608 opened #640 "Failed to get directory listing"
Unable to access https://deno.land/std
Please help

![image](https://user-images.githubusercontent.com/42104907/82426489-8af7d300-9aa5-11ea-90b1-9fccc8c7a1b4.png)

[2020-05-20 10:46] adelsz opened #643 "Add module owner to deno.land/x URLs"
Having all module names in the global namespace leads to name squatting.
This is a proposal to add package owner name to `deno.land/x` URLs:
[code]
It should solve some of the problems raised in:
#547, #548, #406
I can create a PR implementing this if needed.

[2020-05-20 10:50] alessandrorivero commented on #406
@hacked Please keep working on [https://deno.to/](https://deno.to/). I think this will make a lot of things easier for the community and help manage packages better

[2020-05-20 10:59] alessandrorivero commented on #643
It only solves the problem of name squatting. All the other problems are still there. I think to really fix all problems there needs to be something like [https://github.com/denoland/deno_website2/issues/406#issuecomment-631008536](https://github.com/denoland/deno_website2/issues/406#issuecomment-631008536)

[2020-05-20 11:09] adelsz commented on #643
@alessandrorivero I agree, but #406 is closed now.

The whole `database.json` + PR mechanism definitely won't scale well, but might be working OK for the time being as ry mentioned.

This ticket proposes an immediate fix to name squatting and doesn't require much effort to implement.
I have changed the wording to `fix some of the problems` to avoid confusion.

[2020-05-20 14:51] fab1an2 opened #650 "Kiedy będzie polska wersja strony www?"
Może warto zacząć ją robić teraz zanim jeszcze nie jest tego za duzo ;)

Oczywiście chciało by się też polską dokumentacje i przewodniki

[2020-05-20 14:57] bartlomieju commented on #650
@fab1an2 dzięki za otworzenie issue! Tłumaczenie na polski byłoby świetnym dodatkiem.
Chętnie dodamy link to tłumaczenia do oficjalnej dokumentacji, ale tłumaczenie powinno znajdować się poza oficjalnym repozytorium (https://github.com/denoland/deno/issues/5435).

/

We're more than happy to link to translations in the manual, but it should be maintained outside of this repo (https://github.com/de

[2020-05-20 15:30] #633 closed

[2020-05-20 19:02] buckle2000 opened #660 "Visual Styling & Code Re-use"
1. There are many `outline-none` in the source code. It is really a bad idea to override the default `:focus` link style, so please remove those.
2. The class names are too verbose. I found this link:
https://tailwindcss.com/docs/utility-first#maintainability-concerns

I'd like to fixed them myself, by the project development server takes too much memory. #556

[2020-05-21 08:18] kidonng commented on #640
Duplicate of #433

[2020-05-21 10:47] AmanRaj1608 commented on #640
@kidonng  okay closing

[2020-05-21 10:47] #640 closed

[2020-05-21 10:59] millette opened #668 "Some page titles are wrong"
For instance <https://deno.land/std> shows "std - deno.land/x" which is confusing since it's either `std` or `x`. The mixup happens in client-side js, probably in

https://github.com/denoland/deno_website2/blob/master/components/Registry.tsx#L169

Related: #449

[2020-05-21 11:26] JamesBroadberry opened #669 "Markdown links on third-party modules containing images are overriden by a link to the image itself"
See the 'docs' badge at https://deno.land/x/bcrypt/ for an example.

The [README ](https://github.com/JamesBroadberry/deno-bcrypt/blob/master/README.md) has a link to the actual docs but gets overridden by the following code in the markdown renderer:

https://github.com/denoland/deno_website2/blob/56f9497569eb52da237e846888dc8860dcbea706/components/Markdown.tsx#L88-L90

This results in the followi

[2020-05-21 11:31] lucacasonato commented on #669
Yeah that wrapper link can be removed. If you wanna open a PR that would be great :+1:

[2020-05-21 11:46] JamesBroadberry commented on #669
I've created the PR to remove it. I couldn't find the contribution guidelines for the website so I hope everything's alright. It seems like a pretty simple change anyway.

If there's some process I've missed, let me know and I'll sort it 👍

[2020-05-21 11:51] lucacasonato commented on #660
In all cases where `outline-none` is used a sufficiently contrasting background color is applied on focus AFAIK. That should remove the need for an outline from an accessibility standpoint as far as I know. If I am missing something here please let me know.

https://tailwindcss.com/docs/utility-first#maintainability-concerns

It can make sense to extract some utilities into classes, but in many ca

[2020-05-21 11:52] lucacasonato commented on #617
This can be closed

[2020-05-21 11:56] #617 closed

[2020-05-21 12:13] rsromanowski opened #675 "Version needs to be removed from import of example program on home page"
Under getting started at https://deno.land/#getting-started, there is a complex starter program that causes an assertion error when run locally. I was able to resolve this by removing the version in the import:

Change https://deno.land/std@0.50.0/http/server.ts to https://deno.land/std/http/server.ts

[2020-05-21 12:19] nayeemrmn commented on #675
@rsromanowski The problem is that https://deno.land/std@0.50.0 is a version behind latest, while https://deno.land/std is the master branch.

This time the latter happened to work, but in general neither are guaranteed to work. Ideally the latest version would always be used on the getting started examples. I think we should leave a comment in `std/version.ts` listing the locations of code example

[2020-05-21 17:03] #668 closed

[2020-05-21 17:04] #669 closed

[2020-05-21 17:14] therealadityashankar commented on #461
I wouldn't recommend jsdelivr, I've been attempting to use its API in another project, as far as I can say, the github links have issues, and often don't work

[2020-05-21 19:19] joehua87 commented on #491
I can port this website to run on Deno runtime with SSR & minimal code changed

The dev tool is still rely on some Node lib (rollup, react) for better DX

The idea is leverage ESM & reuse between Client Side & Server Side

Let me know if you will accept a PR @lucacasonato

[2020-05-21 19:27] ry commented on #491
Let's wait a bit longer.

I really want to dog food deno here too - but not yet. The website is working today - I don't have to put much time into it - I would like it to remain that way so I can focus on problems deeper inside deno.

[2020-05-21 21:15] buckle2000 commented on #660
1. I think the "Runtime API" in the header of https://deno.land/ doesn't have enough contrast.

2. For example:
Inconsistency (I think they are supposed to look the same):
https://github.com/denoland/deno_website2/blob/f6a0a65c8f1baea1e17d1f24994e5167f638940e/components/Header.tsx#L52
https://github.com/denoland/deno_website2/blob/f6a0a65c8f1baea1e17d1f24994e5167f638940e/components/Header.tsx#L57

[2020-05-21 21:35] lucacasonato commented on #660
You're right. I don't know why 'Runtime API' is different to the rest.

I'll look into these. These are good candidates for extraction :+1:

That gets repeated twice, is it worth it at that point?

[2020-05-21 21:51] #675 closed

[2020-05-22 04:11] zorbyte opened #696 "[Request]: Support alternative README locations on GitHub repositories."
GitHub supports the README.md file to be placed in the `.github` or `docs` folder and still be displayed on the repository landing page. It would be nice to support this on GitHub repos in deno.land/x/.

[GitHub Help Article: About Readmes](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-readmes)

[2020-05-22 15:05] RobDWaller commented on #406
I know I probably shouldn't mention PHP in these parts but @hacked's solution does sound similar to [Packagist](https://packagist.org/), which is essentially just a front door to GitHub. And to the **scale** point, I don't believe Packagist had any major issues with scale as ultimately they don't host anything either.

I feel if adoption of Deno is going to become widespread then a package manager

[2020-05-22 21:45] gewoonwoutje opened #719 "First page load of manuals often fails"
I often look at this screen when loading the Deno manual page after a while.
![image](https://user-images.githubusercontent.com/9407072/82711597-25167180-9c86-11ea-879f-999d134475c7.png)

The page loads correctly after reloading.

[2020-05-22 22:31] timharek opened #720 "Images does not load when viewing Third Party Modules"
Noticed a strange thing when looking through some of the modules.

While looking at [ink](https://deno.land/x/ink), I see the images does not load or that the loading seems to be broken. Like you see in the picture below.

<img width="574" alt="Skjermbilde 2020-05-23 kl  00 30 45" src="https://user-images.githubusercontent.com/5453010/82713819-a5d86c00-9c8c-11ea-8578-1f39550a9ae8.png">

[2020-05-23 04:42] AM-77 opened #725 "Sidebar menu does not close"
The sidebar menu does not close ( the close button and the title link are not responding  ) on the [introduction page](https://deno.land/manual/introduction),  [standard library page](https://deno.land/manual/standard_library), and [testing page](https://deno.land/manual/testing)

Edit: more details
this happens only when you are in one of those pages and open the sidebar menu, then trying to clos

[2020-05-23 17:09] buckle2000 commented on #660
All the repetition adds up quickly when reading code. It makes me tired faster.

[2020-05-23 20:35] zrthxn commented on #725
I've tried a few things and it doesn't seem that there's anything wrong with the logic itself, it's pretty straightforward. I'm guessing that when you navigate to a different page the sidebar closes because the state of the Manual component is reset to `showSidebar = false`.

Adding a simple dismount works but isn't a solution
[code]

Might be something to do with the `CSSTransition` component sin

[2020-05-23 21:46] #547 closed

[2020-05-24 02:33] kingdaro commented on #660
IMO, as a middle ground, it's only worth abstraction if it's either repeated more than twice, or the repeated places are changed multiple times (indicating they should be the same thing)

[2020-05-24 06:39] kidonng commented on #696
Notice that you can use many other filenames (`README`, `README.txt`, `README.rst`, etc.) for README too. It's better to use [GitHub API](https://developer.github.com/v3/repos/contents/#get-the-readme) to get its content.

[2020-05-24 09:53] umbopepato opened #747 "Html in markdown is ignored"
Any HTML code in markdown is currently ignored:

https://github.com/denoland/deno_website2/blob/dbbe3783bafdcdbd3d384efebeab8fb24b3ac373/components/Markdown.tsx#L124

Many repos rely on it for aligning, sizing etc, therefore entire sections of their readmes/docs are lost on `deno.land/x/`.

Is this something you plan to support eventually?

[2020-05-24 13:27] ry commented on #747
Happy to take a patch to support this

[2020-05-24 13:34] Tony133 opened #758 "Broken link on README"
This link is not broken  https://github.com/denoland/deno/tree/master/website

![screenshot](https://user-images.githubusercontent.com/11542387/82755466-f0b0cb80-9dd3-11ea-804b-d8fa09ff7f86.png)

which page should it take?

[2020-05-24 13:45] ry commented on #758
https://github.com/denoland/deno/tree/f96aaa802b245c8b3aeb5d57b031f8a55bb07de2/website

[2020-05-24 14:29] Tony133 commented on #758
it seems that there is already a pull request https://github.com/denoland/deno_website2/pull/467, but the merge is blocked.

can you use that or do I create a new pull request?

[2020-05-24 17:15] JohanWinther opened #765 "Relative file paths in README are parsed incorrectly"
When you visit a third party module on https://deno.land/x/ any relative file paths in the README are incorrectly parsed as pointing to `https://deno.land/x/file.ts`, but GitHub points to the correct file.

You can see an example at https://deno.land/x/websocket_server#echo--broadcast-server, where `example_server.ts` is referenced as `[echo/broadcast server](example_server.ts)` in the README, but

[2020-05-24 20:58] srdjan commented on #406
I realize this issue is closed, but wanted to add my 2 cents... maybe this can be referenced when the topic becomes higher priority or while experimented with in https://deno.to

@hacked proposal is nice, and I would like to just add to it by suggesting a way to guarantee package content integrity. I'm proposing that *name*, in addition to the readable part, also contains package Content Identifie

[2020-05-24 21:42] zjopy commented on #406
@srdjan I agree that there should be some sort of integrity check that what is downloaded is actually what was intended to be downloaded. But such a check needs to be implemented in Deno itself before any registry (or more generally URL) can make use of it. See [#200](https://github.com/denoland/deno/issues/200) for the relevant discussion.

[2020-05-24 22:22] lucacasonato commented on #765
Good catch. All links in the markdown files should be relative to the canonical url of the file on `deno.land` (https://deno.land/x/websocket_server/README.md), not to the `window.location` (https://deno.land/x/websocket_server) like they are right now. I'll implement a fix for this :+1:

[2020-05-24 23:15] lucacasonato commented on #747
Indeed - there are a lot of unsafe HTML elements. You need to filter these, which can get very complex: https://github.com/jch/html-pipeline/blob/master/lib/html/pipeline/sanitization_filter.rb. Even things like `<img>` are unsafe if they have an `onerror` attrribute.

[2020-05-24 23:16] #765 closed

[2020-05-24 23:17] lucacasonato commented on #696
I don't think we should use the API. We have a _very limited_ budget of API requests to GitHub.

[2020-05-24 23:18] lucacasonato commented on #719
That is strange. Can you open the console the next time and check if there are any errors logged?

[2020-05-24 23:25] gewoonwoutje commented on #719
Yes, I did that. Nothing to see in the console. Network logs are also empty (as they only start recording after opening dev-tools, which I only did _after_ seeing the loading screens being stuck).

Reproducing is quite impossible in the live environment. It seems very time dependent, maybe it only occurs after nobody's watched the page for an x amount of time (in which case it is a very minor bug)

[2020-05-25 00:55] kidonng commented on #696
I know that. Basically I mean we either hard code the filenames or use the API.

[2020-05-25 01:06] hacked commented on #406
Thanks @srdjan @zjopy

I'm not sure whether or not I should proceed with building (yet another) registry.

Someone has started to work on something similar a while back, it's available at [https://module.land/](https://module.land/).
The whole idea however is built around a package manager, which in a way is not really what we're looking for in my opinion. It might be better to start contributing

[2020-05-25 01:52] taisukef opened #777 "the indent of the example code unmatched"
<img width="707" alt="denoweb1" src="https://user-images.githubusercontent.com/1715217/82771085-d29ba780-9e75-11ea-9e2b-038127d6fc6a.png">
must be
<img width="711" alt="denoweb2" src="https://user-images.githubusercontent.com/1715217/82771095-d62f2e80-9e75-11ea-9be4-a60c2ec517bd.png">

[2020-05-25 06:32] cknight commented on #719
I experience the same on occasion, and also have no errors in the console. Using latest Brave browser.

[2020-05-25 06:52] JohanWinther commented on #606
Wouldn't relying on the `deno.land` url to handle the semver identifiers be bad whenever trust is broken because the site has no way to compensate on a per-user basis? Or am I missing how this compensation is handled by package managers today?

I think semver handling should be done by package managers which will deduplicate `$DENO_DIR` once it has been cached. I see no easy way to change the URLs

[2020-05-25 08:44] zjopy commented on #406
As you said the frontend is built on top of the mindset of a typical package manager. This bring us right back into NPM land with all the configuration files.

But if we could consolidate efforts that would be even better.

Pinging @pagoru from @moduleland.

[2020-05-25 09:04] pagoru commented on #406
Hey @hacked, you can help us with @mdouleland if you want, we want to respect the principles of deno as much as we could, so, if people help with the project with they ideas, can be really useful.
npm has a lot of bad things, we can rethink how to manage the modules, but you can give effort to the current project and not start a new one, we are open to new ideas, right now, the project it's only a

[2020-05-25 11:45] Swap76 opened #784 "The Repo folders size 0B problem"
<img width="1081" alt="Screenshot 2020-05-25 at 4 53 16 PM" src="https://user-images.githubusercontent.com/37082605/82809701-5a9ba480-9eaa-11ea-99d9-1234095f5946.png">

We can use the GitHub tree API to get the size fo folder but if implemented caching is must as it return the whole tree https://developer.github.com/v3/git/trees

Else we can just not show the size of the folder rather than showing

[2020-05-25 17:43] nayeemrmn commented on #719
Same, on Chrome.

[2020-05-25 18:34] kennanseno opened #797 "'View on GitHub' seems out of place"
'View on GitHub' link for the markdowns in the Manual page seems out of place and serves no purpose as user has already read the doc.

Realistically, we should keep it similar and use the icon similar to what we have in the homepage. Would probably suit better if it's the GitHub icon and just on the same light as the title but on the right side.

<img width="1112" alt="Screenshot 2020-05-25 at 19

[2020-05-25 18:55] rjoydip opened #798 "Async callback was not invoked within the 5000ms timeout specified by jest.setTimeout"

[2020-05-25 21:22] cknight commented on #719
In case it's of help, I finally managed to reproduce with the network tab running in dev tools:
![Screenshot at 2020-05-25 22:17:09](https://user-images.githubusercontent.com/1248238/82843788-335acc80-9ed6-11ea-8ba5-93eb11687daf.png)

All files seem to have legitimate expected responses.  Console is empty.

[2020-05-25 21:30] gewoonwoutje commented on #719
After comparing success case with failure, it seems it is missing some calls to load stuff after fetching the tags.

![image](https://user-images.githubusercontent.com/9407072/82844088-740b1380-9edf-11ea-9c6a-3a6f2e9be428.png)
![image](https://user-images.githubusercontent.com/9407072/82844095-78373100-9edf-11ea-9c9b-5aec32334f21.png)

[2020-05-25 22:45] Yamboy1 opened #809 "Relative links to images in markdown are broken"
As an example: https://deno.land/x/deno_structured_logging

The image links to `https://deno.land/x/assets/simple.png`, rather than where the actual image is `https://deno.land/x/deno_structured_logging/assets/simple.png`

After a small amount of digging, it looks to me like this commit: https://github.com/denoland/deno_website2/commit/a93f623fe3f6763ac978b87a8afb66af8524d8b0 might have caused the

[2020-05-26 00:10] KienHui opened #814 "Manual and standard library not displaying."
I'm behind a proxy that blocks raw.githubusercontent.com. This results in all the files being unfetchable, and therefore a mostly blank screen when I go to look at the manual, and "Failed to get raw file" error when I try to look at the standard library. Said proxy does not block *.github.io domains however.

[2020-05-26 01:21] zorbyte commented on #696
Maybe an optional README location could be specified when adding packages to the database.json.

[2020-05-26 04:01] Yamboy1 commented on #809
As an aside, the image's alt text isn't shown next to the broken image symbol either, it would be nice if that were to be added as well

[2020-05-26 04:45] #725 closed

[2020-05-26 06:42] divy-work commented on #809
+1. Facing same issue with my preview PR.
https://deno-website2-7njek819x.now.sh/x/autopilot

[2020-05-26 09:00] Yamboy1 commented on #809
Another point I just noticed, if you go to the actual file, then this issue does not appear: https://deno.land/x/deno_structured_logging/README.md

[2020-05-26 10:21] divy-work commented on #809
It does not work when I got to the actual file too.
https://deno.land/x/autopilot/README.md

[2020-05-26 11:38] kidonng commented on #720
This is a problem with `ink`'s README. I submitted a PR to fix it, and now the problem becomes #809 😅

[2020-05-26 11:42] kidonng commented on #814
See #522 for a possible solution. But I would suggest you use another proxy that doesn't block `raw.githubusercontent.com` if it's possible.

[2020-05-26 11:48] kidonng commented on #797
https://github.com/denoland/deno_website2/issues/516#issuecomment-629638914

And someone may prefer to read it on GitHub or whatever. If you look around many docs provide link to GitHub as well.

Good idea.

[2020-05-26 11:49] smkamranqadri commented on #464
Sorry for being late, I got busy. I created the pull request. Feedback and suggestions are appreciated.

[2020-05-26 11:51] kidonng commented on #784
Fixed by #796

[2020-05-26 11:53] lucacasonato commented on #809
@divy-work For you it does not work because html in the markdown is not supported at the moment. Ref #747

@Yamboy1 I thought I had fixed that yesterday. I will investigate...

[2020-05-26 12:01] lucacasonato commented on #797
It might be better if it said 'Edit on GitHub' and linked you to the file edit screen on GitHub for that page.

[2020-05-26 12:13] kidonng commented on #797
From my personal perspective, it's not a very good experience. GitHub will automatically fork the repo if you want to make edits, but more often I just want the link to the document.

[2020-05-26 12:43] smkamranqadri commented on #797
I would like to take this issue once finalised, in my opinion, edit on github make more sense.

![Screenshot 2020-05-26 at 5 43 03 PM](https://user-images.githubusercontent.com/13115396/82902081-5b9b0780-9f78-11ea-98b8-7447976abbba.png)

[2020-05-26 12:43] divy-work commented on #809
@lucacasonato is there any workaround for me to use the image?

[2020-05-26 13:01] lucacasonato commented on #809
Yes. Use markdown image syntax rather than HTML

[2020-05-26 13:39] divy-work commented on #809
Umm yeah I'm dumb. Thanks

[2020-05-26 14:05] #809 closed

[2020-05-26 14:09] smkamranqadri commented on #464
I believe we can close this issue, PR is merged for the badge and database.json is temporary so once we have solution for that then this can be done.

[2020-05-26 15:06] #798 closed

[2020-05-26 16:54] Swap76 commented on #784
@kidonng  Thanks :-)

[2020-05-26 16:54] #784 closed

[2020-05-26 17:48] Swap76 opened #836 "database.json contains few non-existent repos"
<img width="1191" alt="Screenshot 2020-05-26 at 11 10 04 PM" src="https://user-images.githubusercontent.com/37082605/82933093-0c200000-9fa7-11ea-8875-103927732cfb.png">
<img width="987" alt="Screenshot 2020-05-26 at 11 10 12 PM" src="https://user-images.githubusercontent.com/37082605/82933098-0f1af080-9fa7-11ea-8a07-e48923d31d56.png">
<img width="974" alt="Screenshot 2020-05-26 at 11 10 30 PM" src

[2020-05-26 18:38] #836 closed

[2020-05-26 19:12] hazae41 commented on #406
If we need to keep everything decentralized, why is there a registry in the first place?

A search engine that could search deno modules would fully accomplish the needs of decentralization, namespace and search

deno.land could just do a custom Google (or whatever) search, or even use its own search engine

[2020-05-26 19:18] Swap76 opened #839 "Empty files should not be displayed or"
The file is completely empty
<img width="1125" alt="Screenshot 2020-05-27 at 12 45 35 AM" src="https://user-images.githubusercontent.com/37082605/82941098-69ba4980-9fb3-11ea-9fc0-82d5e213d6af.png">

<img width="1048" alt="Screenshot 2020-05-26 at 10 51 25 PM" src="https://user-images.githubusercontent.com/37082605/82931271-4936c300-9fa4-11ea-9cc9-6c86704259fc.png">

Because of this the deno.land i

[2020-05-26 19:54] #839 closed

[2020-05-26 21:35] zjopy commented on #406
@hazae41 Searching is harder than it seems. How do you guarantee to find 1) only Deno modules 2) find all Deno modules? No search engine can do that, not even Google. My initial post focused exactly on this. And even limited to Github the search would end in the same issues.

To not disadvantage anybody the best solution is to offer a registry where anyone can sign up and publish the URL to their

[2020-05-27 02:01] taisukef commented on #777
Fixed
https://github.com/denoland/deno_website2/commit/e762d14d5c5bcc2beaa045467833d3f05ef916e4

[2020-05-27 02:01] #777 closed

[2020-05-27 06:33] divy-work commented on #231
I was looking forward to contributing or is there a PR already?

[2020-05-27 06:50] divy-work opened #848 "API Limit exceeds for star badges in third party modules"
The start badges that were recently added to the website requests `img.shields.io` that have a API limit:
`Exceeded limit 300 requests per 200 seconds`

So some images appear broken:
![Screenshot from 2020-05-27 12-15-22](https://user-images.githubusercontent.com/34997667/82986936-60ad9480-a014-11ea-82d4-f02225aaa6eb.png)

[2020-05-27 09:10] Swap76 commented on #848
@divy-work Can you provide the specifications of the browser as on the third-party modules page for me all badges are visible.

[2020-05-27 10:17] lucacasonato commented on #848
@divy-work I am getting this too. I think we should revert #603 for now because of the rate limit. I see more not loaded badges than loaded badges:
![image](https://user-images.githubusercontent.com/7829205/83007436-f7c61c80-a013-11ea-8949-7bfec63e1b53.png)

[2020-05-27 10:24] lucacasonato commented on #606
I am against this for the same reason as @hayd. Also this is currently not possible due to rate limits on GitHub's API for getting releases for a repository. Also a user has no way to lock the semver version they receive because Deno's lock file does not store the final URL after redirects, only a hash of the content. So every request would have to reevaluate the semver range again (and potentiall

[2020-05-27 13:05] Swap76 commented on #606
May be in future can build a tool which will update the dependencies by following various rules and that will solve the problem I think

[2020-05-27 14:14] #848 closed

[2020-05-27 18:31] kennanseno commented on #453
@bartlomieju can be closed

[2020-05-27 18:32] KienHui commented on #814
The proxy is a corporate one, and I don't have the pull to be able to get around it

[2020-05-27 19:05] #453 closed

[2020-05-27 19:09] agar23 commented on #814
I asked a similar question yesterday on the deno discord chat. Conversation can be found [here](https://discordapp.com/channels/684898665143206084/684898665151594506/715014904029118527)

I don't think this is a `deno` issue tbh. All you are trying to do here is download something from a website (in this case raw.githubusercontent.com) but your corporate network is blocking you from successfully do

[2020-05-27 22:54] Swap76 opened #861 "Need of Guidelines for Third Party Modules (People Creating aliases to original)"
@ry has always said that we can benefit from the different communities at every step but does use of great NodeJS module in the back of Deno Third-Party Module complete ripe off without intimating the particular NodeJS module community makes sense?

Example: Guys at mime-db are fine with it but just a concered of about such thing
<img width="1008" alt="Screenshot 2020-05-28 at 4 02 26 AM" src="htt

[2020-05-28 04:54] KienHui commented on #814
This is a `deno` website issue. There's too much stuff on raw.githubusercontent.com for proxy filter companies to categorize properly. Option A is almost certainly how deno would be used, but it can't even be properly evaluated because the manual doesn't load. Whitelisting `deno.land` would not fix the issue, as `deno.land` does in fact load, but the website makes requests to the blocked raw.githu

[2020-05-28 05:03] erlend-sh commented on #470
We’re big fans of Rust and Deno at [MeiliSearch](https://github.com/meilisearch/MeiliSearch) and we’d love to assist with setting up a self-hosted or managed search for you should the need arise.

https://docs.meilisearch.com/resources/howtos/search_bar_for_docs.html

[2020-05-28 12:56] pi0 commented on #406
Experimental support for using any GH/NPM repo landed (#659). Any other provider supported by deno.land, can be also mapped via virtual db patterns :)

https://deno.land/x

Example: https://deno.land/x/gh:maheshkareeya:a1

[2020-05-28 13:29] alirealasad commented on #861
Hi, that module is created by me, I didn't mean to rip off anybody. I created it because I wanted to use it for my other projects. should I remove it or something.

[2020-05-28 13:51] Swap76 commented on #861
@alirealasad No no I didn't mean that

I used it as example sorry for that, My point was as we are thriving for the decentralized distribution so I think we need some minimal rule but I studied the licenses so I found out that it's completely perfect to use like this :-)

[2020-05-28 13:51] #861 closed

[2020-05-28 22:43] uchm4n opened #901 "Github star indicator for Deno third party modules"
It would be nice if we had some kind of indicator to identify how many Github stars every module have. This will help lot of users to pick popular modules and encourages module developers to do better products. Otherwise module list is getting messy and it's not clear what is worth to look into.
Everybody just trying out Deno and every "hello world" module is in there.
Maybe later we could add fil

[2020-05-28 23:26] lucacasonato commented on #901
Ref #464. This was implemented a few days ago, but it had to be reverted because of API rate limit issues.

Anyway I am in favor once we figure out the rate limit issues, and having a `Sort by star #` option would be awesome.

[2020-05-29 01:14] uchm4n commented on #901
Numbers can be cached, so each module will get updated each 1 day or so and displayed afterwards. With little logic, if star number > 300 gets more frequent cache update. Just saying
If there is not concret solution, than I'll close this issue

[2020-05-29 01:14] #901 closed

[2020-05-29 08:03] JipFr opened #910 "Incorrect / invalid titles in the OG tags for /x/ modules"
Third-party module pages such as https://deno.land/x/talk_lib/ returns an incorrect value in its `title` and `og:title` properties. For some reason it's also different locally. When looking at the network request for https://deno.land/x/talk_lib/, you see
[code]
and
[code]

And yet, when you look at the head in the devtools it's different again, most likely altered by the JS on the page. In the de

[2020-05-29 19:12] kennanseno commented on #910
Looking at this now

[2020-05-30 02:59] #910 closed

[2020-05-30 18:24] rewebcan opened #938 "Discord invitation link seems expired"
I was trying to join discord server to ask some question about developing new packages, but it seems url is not valid.

[2020-05-30 18:29] nayeemrmn commented on #938
What link are you using, and where on the site did you find it?

[2020-05-30 22:33] KyleJune opened #946 "Add a link to GitHub when rate limited"
In the deno discord I saw a new user ask for help regarding std API because they were no longer able to view documentation. They didn't know that they could still view it if they look at the repository directly on GitHub instead of through the deno website.

I think we should include a link to the page on GitHub when a user encounters GitHub API rate limiting. I believe the same should apply for t

[2020-05-30 23:56] ninjaa opened #949 "I'd like to convert cli-tables to deno"
I'd like to convert cli-tables to deno https://github.com/Automattic/cli-table

Can someone with more experience please give me guidelines on how to do this?

I'd ultimately like to be able to eg import cli-table from `https://github.com/ninjaa/deno-cli-table`

let me know please. I couldn't figure out where to put this request and it said for new packages open a GH issue so ... hope it's the righ

[2020-05-31 00:50] buttercubz opened #952 "Delete uuid in third party modules"
i think uuid should be removed from third party modules as it can create confusion, and maybe third party modules should not have std module names.

[2020-05-31 02:52] kidonng commented on #946
#433

[2020-05-31 03:19] kidonng commented on #433
There is a problem regarding jsDelivr, it can only provide file list based on git tags. This doesn't matter to `std` as it is tagged properly, however for 3rd party modules it can cause problems.

[2020-05-31 18:13] alirealasad commented on #433
I didn't even seen a single page from this morning but I still getting this error on every module's page.

at least please add a link to the repo or something so that I can visit the repo if get this error

[2020-05-31 19:29] reselbob commented on #433
Help? I am doing a significant, commissioned research project on Deno for a publication. I really would like to be able to review third party modules. But, given what I am reading here there is nothing I can to get access. If I am mistaken, please set me straight.

[2020-05-31 19:44] lucacasonato commented on #433
If you are seeing this error you can follow these steps to determine what is causing it.

1. Have you viewed more than 30 documentation, standard module or third party pages in the last 60 minute?
    - **Yes**: You have reached your personal GitHub API rate limit. There is nothing much you can do right now. Please wait 60 minutes for your rate limit to reset.
    - **No**: Continue to step 2.
2.

[2020-05-31 20:29] #797 closed

[2020-05-31 20:40] kennanseno commented on #949
@ninjaa there's a discord group you can use for this.

https://discord.gg/A2sUjR

[2020-05-31 20:43] kennanseno commented on #579
Will look at this unless someone else wants to take it

[2020-05-31 22:01] reselbob commented on #433
I went in with another browser, in this case, Safari, rather than my usual Chrome. I could access the  Third Party libraries pages.

[2020-05-31 23:07] #952 closed

[2020-06-01 10:54] #562 closed

[2020-06-02 02:28] andreespirela opened #997 "[Discussion] Modules that can break other modules."
Hello All. This issue is going to be a bit long as explanation is needed, but it will have a point.

On Monday, June 1 at about 5am, the code of one of my projects broke. The error was quiet interesting
[code]
it turns out that nowhere in my code I was importing `https://deno.land/std@0.54.0/ws/mod.ts` so I thought about a **third-party module broke** my module.
After hours investigating, it turns

[2020-06-02 02:33] nayeemrmn commented on #997
Of course a third party module can break if you update it... what do you mean? Are you saying it somehow broke without you updating anything in your own `deps.ts`?

[2020-06-02 02:37] andreespirela commented on #997
Correct. My code was targeting oak@v5.0.0, a third-party module I use was targeting oak@master . oak@master was breaking my code. At plain sight you can’t tell what’s happening and have to go deep & deeper because if a third party is importing something that’s not “compatible” with your app you won’t know until checking your cache folder or checking manually repo after repo (module after module)

[2020-06-02 02:50] nayeemrmn commented on #997
Ah I see, you used a locked version of a module that used an unlocked version of oak. This isn't really an earth shattering issue with Deno, the module you're using is faulty because it does this. Kind of like a module that is coded to throw a random error after a certain date, which it may as well be. Raise a bug report with them or use something else.

You can catch these situations properly usi

[2020-06-02 03:49] kitsonk commented on #997
And if you are ever unsure of what your dependencies are:

[code]

[2020-06-02 10:14] lucacasonato commented on #997
I think there is a point to be made here that we can improve the semantics around importing implicit master for deno.land/x. I propose the following:

1. Use the existing X-Deno-Warning infrastructure to add a warning to all requests that use an implicit version, not just std.
2. Add a `"implicit_default": "warn"` key in the database.json so every module can choose for itself if implicit versions

[2020-06-02 14:47] andreespirela commented on #997
I think that fits in well in what is needed. I agree there should be more official perspective from Deno that importing from master is a bad practice (possible but bad) so there should be warnings, a page explaining that. I guess all that could be done without too much effort & in a useful way.
Let’s see where this discussion gets...

[2020-06-03 18:33] cknight opened #1023 "Allow images to be clickable to full size"
The manual pages on the website are converted from markdown to html including the embedding of images.  These images are fixed width making screenshots hard to make out and no easy way to view them at full size.  For example, have a look at the screenshots on the [Debugger manual page](https://deno.land/manual/tools/debugger) and compare the screenshots with an example from this page [at original

[2020-06-04 21:27] cknight opened #1036 "function documentation not showing"
Documentation for Deno functions, such as `atob`, `btoa`, `clearInterval`, etc. as defined in https://github.com/denoland/deno/releases/latest/download/lib.deno.d.ts are not showing in deno.land's [runtime API](https://doc.deno.land/https/github.com/denoland/deno/releases/latest/download/lib.deno.d.ts)

[2020-06-04 22:33] lucacasonato commented on #1036
Wrong repo, and they are working for me: https://doc.deno.land/https/github.com/denoland/deno/releases/latest/download/lib.deno.d.ts#btoa

[2020-06-05 06:35] cknight commented on #1036
Thanks @lucacasonato, the function is there, but not the javadoc.  Looks like the problem is with `deno doc`.  I'll close here and re-raise in the correct repo.

[2020-06-05 06:35] #1036 closed

[2020-06-05 16:56] littletof opened #1047 "Url encoded # in /x/ paths is not handled correctly"
If you visit this url: https://deno.land/x/oak/%23You-Can-Write-anything-here it loads in the repo and display the string after the `%23` in some places, where it shouldnt:
![image](https://user-images.githubusercontent.com/32012862/83903142-eb516a80-a75d-11ea-9383-b37ef2b2629d.png)

It should work like when using a simple `#` ( or show `404` like when it can't find the repo/file )

[2020-06-05 18:28] rjoydip commented on #1047
The problem is with `%23` if it's `#` is won't show `404` but it won't change like or wont's redirect.

[2020-06-05 19:33] bander-saeed94 opened #1050 "Third party modules order"
I have noticed the alphabet order serves no purpose.

I suggest the order to be based on repo popularity. Or to be in categories (ex: web development, database, cli etc...).

For example the number of GitHub stars.

[2020-06-05 19:52] crowlKats commented on #1050
popularity is not feasible to do, due to the github api limit

[2020-06-05 20:41] littletof commented on #1047
@rjoydip If you visit this repo: https://deno.land/x/view_engine and click on the 🔝 emoji in the readme, then this problem will come up. On the github page it navigates correctly with `#`, but on denoland it replaces `#` with `%23`

[2020-06-06 04:21] rjoydip commented on #949
@ninjaa Use [https://deno.land/x/ascii_table](https://deno.land/x/ascii_table)
It's equivalent to `cli-table`

[2020-06-06 06:05] rjoydip opened #1056 "hide deno and std modules from /x listing and search"
I think `deno`, `std`, `std_old` should remove/hide from database.json. These are not third party modules.

/cc @lucacasonato

[2020-06-06 12:23] chenguzhen87 opened #1060 "/index.html doesn't work"
![image](https://user-images.githubusercontent.com/28331609/83944084-6f295680-a833-11ea-84d7-da7369f33411.png)

[2020-06-06 14:33] #1047 closed

[2020-06-06 18:45] lucacasonato commented on #1050
Currently yes. Once we have metrics based on downloads counts (which is planned) we can do this.

[2020-06-06 18:46] lucacasonato commented on #1060
Use `https://deno.land/` instead of `https://deno.land/index.html`.

[2020-06-10 01:52] 2234839 opened #1093 "It is recommended to disable CDN acceleration for deno.land."
I'm on a network that's reporting a 403 Forbidden error, which seems to be due to a deno. land is using a restriction imposed by the cdn accelerator, which has to do a human check...

[code]

[2020-06-10 12:37] oganexon opened #1095 "module's default branch different than master"
This is the case when importing a module but not on x/
_Edit : importing module also doesn't work when `master` doesn't exist_.

For example, on my github my main branch is `latest` and there is no `master` branch.
The site should take the main branch and not `master`.

https://deno.land/x/remove_forever@v1.0.0 works
https://deno.land/x/remove_forever don't

Edit : I created the master branch so m

[2020-06-10 22:17] camelid opened #1098 "Typo: 'artibrary' instead of 'arbitrary' at 'deno.land/x'"
## Current

## After fixed

[2020-06-11 00:32] lucacasonato commented on #1095
Use the default_version option in database.json to choose which branch the module should default to.

[2020-06-11 01:03] lucacasonato commented on #1093
We use Cloudflare as a CDN for modules. If you have an issue reaching Cloudflare servers, or if they are mistakenly marking your requests as invalid, you should contact Cloudflare support.

[2020-06-11 07:37] 2234839 commented on #1093
I am in Zhejiang, China and I will try to contact Cloudflare, but there are many people who have the same problem as me!

[2020-06-11 08:47] oganexon commented on #1095
I'm gonna stay in the master branch , so it's just cosmetics.

[2020-06-11 08:47] #1095 closed

[2020-06-11 21:40] rafaelcastrocouto opened #1104 "repl.it added support for deno"
repl.it now supports deno in their website

we could add a "try it online" link for it, I'm just not sure where it should go 😁

maybe in the "get started" or in the manual?

https://repl.it/

https://github.com/replit/polygott/issues/62

[2020-06-12 01:01] 2234839 commented on #1093
@lucacasonato

Cloudflare responded to me as follows : https://community.cloudflare.com/t/cloudflare-is-preventing-me-from-using-deno-land-properly/181539

    That is probably not the best choice on their side, as Cloudflare is mostly intended for interactive services and not automated scripting, where you can run into exactly such issues.

    That is something they need to address (e.g. adjust

[2020-06-12 01:42] lucacasonato commented on #1104
@ry WDYT? Might be cool

[2020-06-12 13:39] lucacasonato commented on #1093
@2234839 Can you try again? The security level is now less strict.

[2020-06-12 13:47] #1098 closed

[2020-06-13 00:46] 2234839 commented on #1093
I'm able to download the code normally, thank you very much for the changes!

[2020-06-13 00:49] #1093 closed

[2020-06-13 02:55] hashrock opened #1110 "Image License"
https://github.com/denoland/deno_website2/blob/master/public/v1.png

I've been asked for permission to use this illustration for blog posts etc.
I think it would be a good idea to license this illustration to MIT. What do you think? @ry

[2020-06-13 15:55] caspervonb opened #1115 "Header gets in the way of content"
The fixed header on https://doc.deno.land is in the way blocking the signature of functions etc as you click on a target link.

Example, as I click on _chdir_
![Screenshot 2020-06-13 at 11 53 24 PM](https://user-images.githubusercontent.com/157787/84573131-32c89e00-add1-11ea-88a4-fab2076b4b10.png)

Tested on Safari 13

[2020-06-13 16:03] lucacasonato commented on #1115
So apparently Safari doesn't handle `scroll-padding` for scrolls to fragment target or scrollIntoView(). Upstream bug is https://webkit.org/b/179379. Would be nice to have a workaround for this.

[2020-06-15 06:02] kitsonk opened #1130 "Do not assume `master` is the main branch in GitHub"
I moved oak's main branch from `master` to `main` and now but the website redirects `https://deno.land/x/oak/mod.ts` to `https://github.com/oakserver/oak/blob/master/mod.ts` instead of `https://github.com/oakserver/oak/blob/main/mod.ts`.

[2020-06-15 06:07] lucacasonato commented on #1130
Already possible with `default_version` option in `database.json`. I think the best plan forward is going to be to remove the defaulting behaviour and force the user to specify a default branch. This should be ready in a couple of minutes.

[2020-06-15 09:53] oubenruing commented on #1050
Is it feasible to use github actions to call the github API to get the numbaer of stars and update to database.json?
[Scheduled events: schedule](https://help.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule)
“Scheduled workflows run on the latest commit on the default or base branch. The shortest interval you can run scheduled workflows is once every 5 minut

[2020-06-15 12:51] lucacasonato commented on #1050
No, because this would still have the same rate limit issues as described in https://github.com/denoland/deno_website2/issues/461#issuecomment-629640278

[2020-06-15 16:53] ry opened #1133 "display of source code doesn't make use of available space"
Example: https://deno.land/x/wasi@7fc9454/mod.ts#L571-L596
<img width="1280" alt="Screen Shot 2020-06-15 at 12 51 07 PM" src="https://user-images.githubusercontent.com/80/84684629-ec755b00-af06-11ea-8142-14f3a64175a3.png">

A combination of borders and large font size make it so I can't see this reasonably sized code snippit on my laptop.

[Github](https://github.com/caspervonb/deno-wasi/blob/7fc9

[2020-06-15 20:08] moshest opened #1136 "Errors when importing TypeScript files using `deno.land/x` tool"
Please check out this issue: https://github.com/neuledge/computed-types/issues/34

The use case is that we want to allow user to import native TypeScript from the github repo and use them in Deno. The problem is that Deno requires file extensions when importing files while TypeScript [literally breaks](https://github.com/neuledge/computed-types/issues/34) when trying to import files with extension

[2020-06-15 20:37] koji commented on #938
@rewebcan you can try this https://discord.gg/TGMHGv6
However, https://discord.gg/deno that is used currently works for me.

[2020-06-15 20:41] #1130 closed

[2020-06-15 20:47] amasad commented on #1104
FYI here is a direct link: https://repl.it/languages/deno

We're also actively making it better:
- GUI for packager search and managing dependencies (see [upm](https://blog.repl.it/upm))
- Better code intellisense/linting: right now we're using Typescript LSP which as you know doesn't work well with Deno

Let us know if you have any feedback (founder here).

[2020-06-16 09:21] SirJosh3917 opened #1142 "Include example in Getting Started for how to run the 'more complex' example"
With the strictness of where the --allow-net flag can be placed and the lack of description with what `--allow-net=<allow-net>` could possibly allow, providing an example command to run the provided example would be very helpful. Heck, I didn't even realize that I could pass `--allow-net` without requiring a value. without digging into [some small text at the bottom of the documentation on the web

[2020-06-16 23:51] nayeemrmn opened #1153 "Use <a> element for directory listing entries"
https://deno.land/std/ <-

The directory links seem to be some other generic element using click events. I can't Ctrl + click those, drag them, etc.

[2020-06-17 01:25] rafaelcastrocouto commented on #1104
I just realized it could be used to add demo snippets to the manual.

[2020-06-17 15:16] ry commented on #1110
Yes that's good.

[2020-06-18 11:05] ry opened #1162 "Create artwork page"
We're starting to collect a lot of Deno artwork - it would be good to have a place to collect and display them all.

Ideally each piece would have the artist with a link to their website, and the copyright license.

I've got a whole folder full of artwork from various artists - some of which hasn't been published online yet.

[2020-06-18 12:31] #1133 closed

[2020-06-18 12:33] rjoydip opened #1163 "highlight style issue in toml file"
Found styling issue (`token punctuation`) in `.toml` file. I think the issue is mainly with table class of  `tailwindcss`.

### Currently
![image](https://user-images.githubusercontent.com/15318294/85019981-45562500-b18d-11ea-926f-fe93b794e976.png)

### Expected
![image](https://user-images.githubusercontent.com/15318294/85019893-28215680-b18d-11ea-98ce-69eb43006380.png)

[2020-06-18 12:53] lucacasonato commented on #1162
I'll take this on this weekend.

[2020-06-18 20:29] #1110 closed

[2020-06-19 01:40] #1163 closed

[2020-06-19 01:44] nayeemrmn commented on #1060
Yeah it's not like it's strongly conventional to support `/index.html` nowadays if ever. Examples: https://github.com/index.html, https://discord.com/index.html, https://www.youtube.com/index.html. This can be closed.

[2020-06-19 04:22] Jonathannsegal commented on #1153
Should that functionality be added? If so I could take on the task, just assign me the ticket.

[2020-06-19 09:27] sandeshdamkondwar opened #1170 "Add support for word searching"
<img width="1920" alt="Screenshot 2020-06-19 at 2 52 26 PM" src="https://user-images.githubusercontent.com/2510560/85117830-17c8b480-b23d-11ea-98b8-0aacb1339ae9.png">
<img width="1920" alt="Screenshot 2020-06-19 at 2 52 12 PM" src="https://user-images.githubusercontent.com/2510560/85117835-18f9e180-b23d-11ea-90ae-61b2804f2310.png">
<img width="1920" alt="Screenshot 2020-06-19 at 2 46 26 PM" src="h

[2020-06-19 11:23] #1060 closed

[2020-06-20 03:43] suntianchong opened #1182 "Deno cannot find the resource file"
import { Application } from "https://deno.land/oak/mods.ts"

Error: error sending request for the url (https://raw.githubusercontent.com/pillarjs/path-to-regexp/v6.1.0/src/index.ts) : error trying to connect: DNS error: the requested name is valid, but could not find the requested types of data.(OS error 1
1004).

[2020-06-20 05:56] rjoydip commented on #1182
@suntianchong I think you importing wrong URL. Check below correct one.

Wrong: `import { Application } from "https://deno.land/oak/mods.ts"`
Correct: `import { Application } from "https://deno.land/x/oak/mod.ts"`

[2020-06-20 06:14] suntianchong commented on #1182
sorry,&nbsp; I'm wrong

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Joydip Roy"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月20日(星期六) 中午1:56
收件人:&nbsp;"denoland/deno_website2"<deno_website2@noreply.github.com&gt;;
抄送:&nbsp;"孙天崇"<1247679496@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [denoland/deno_website2] Deno cannot find the resource file (#1182)

@s

[2020-06-20 10:01] #1182 closed

[2020-06-20 16:11] TheWizardBear opened #1185 "Large tables don't fit on the screen on mobile"
For desktop mode, text wraps around, meaning that tables fits snugly on the screen, filling the horizontal space. This looks great normally but is a bit a of a problem on small screens as the table doesn't fit the width so it ends up being cut off.

Here is an example on my phone (Firefox 68, Android 8.1) from https://deno.land/x/maze_generator:

![screenshot deno table bug](https://user-images.gi

[2020-06-20 16:44] #1162 closed

[2020-06-20 19:10] lucacasonato commented on #1185
That is weird. I remember making sure this works a while ago. I guess not :man_shrugging:.

[2020-06-21 16:05] lucacasonato commented on #1170
Implemented in #1171

[2020-06-22 12:26] cezarsmpio opened #1204 "Getting rated limited after running a test"
I can no longer download or install any dependencies from Deno registry or even access the deno.land website.

I'm creating a library for Deno and I started writing some tests like:

[code]

Then I ran:

[code]

It started downloading the dependencies then I got two different messages:

[code]

I tried to access the website deno.land but received a message from Cloudflare, something like:

[code]

[2020-06-22 16:26] #1023 closed

[2020-06-22 16:29] #1185 closed

[2020-06-22 16:31] #1153 closed

[2020-06-23 18:29] hkong commented on #433
I put in a request to have the Deno API docs added to DevDocs (https://trello.com/c/SUWvkeGy/485-deno).  It would alleviate this particular issue, and also help those who have slow/limited bandwidth.

[2020-06-24 13:56] kidonng commented on #433
@hkong Thanks! But the manual page only needs one request to rate-limited `api.github.com`, so people usually don't have problems accessing it. Adding the docs to DevDocs would be great, but it doesn't help with this issue.

[2020-06-24 13:58] kidonng commented on #1204
You are welcome to use other GitHub CDN like jsDelivr. `deno.land` uses Cloudflare workers which is not an optimal choice for serving packages.

[2020-06-25 00:28] xpyxel opened #1224 "Compliance with new "main branch" upcoming github changes"
there's plans to rename "master" to "main" in a lot of repos in favor of the BLM movement, among other reasons, see [this article](https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/) on zdnet. Currently my repository [Dash](https://github.com/xpyxel/dash) has renamed it's main branch to `main` and due to this, attempting to load master fails o

[2020-06-25 00:44] nayeemrmn commented on #1224
Duplicate of #1130.

[2020-06-25 00:45] #1224 closed

[2020-06-25 07:12] cezarsmpio commented on #1204
Let's say I use a dependency from jsDelivr, for example, but this dependency and its dependencies use `deno.land`.

I could use `superdeno` from this link: https://raw.githubusercontent.com/asos-craigmorten/superdeno/main/mod.ts and if you check, most of its dependencies are coming from `deno.land`.

I think that's what happened :/

Anyway, thanks @kidonng!

[2020-07-01 17:45] hazae41 opened #1260 "Can't cache "gh:" modules on Windows"
When I try to cache a "gh:" url on Windows, it fails with

### Reproduce

    deno cache -r https://deno.land/x/gh:hazae41:denorand/mod.ts

    deno cache -r https://raw.githubusercontent.com/hazae41/denorand/master/mod.ts

[2020-07-05 11:25] asos-craigmorten commented on #1260
FYI, as an aside it looks like these style URLs are being deprecated - #1270

[2020-07-05 12:46] #1260 closed

[2020-07-08 18:05] danbulant opened #1293 "Empty modules on /x/"
Hey.

Can I ask why are there empty modules (with just basic README but no actual code) in x? Why are there in x when they're unusable? I thought x was only for (at least basically) working modules, not for nearly empty READMEs

[2020-07-09 18:20] ebebbington commented on #1293
More on this, i'm curious why modules are being allowed in when they either have no tests (or tests failing), or are one-liners, essentially (similar to OP's comment) lowering the quality of /x/, then people try use modules that don't work

[2020-07-09 18:27] crowlKats commented on #1293
@ebebbington agreed. this goes back to #548

[2020-07-10 01:25] lucacasonato commented on #1293
`/x/` is meant to be a simple hosting service for all modules - it is not a curated list and it is not meant to be. The PR workflow to get modules onto `/x` makes it look like there is a review before modules are published. This is not the case. The PR workflow is just a relic from when `/x` only had a few dozen modules. A new publishing process that does not involve human 'review' is currently in

[2020-07-11 16:56] danbulant commented on #1293
One liners aren't actually that bad. I was talking about modules like [this](https://deno.land/x/blox) or [this](https://deno.land/x/roblox) that are just default GitHub READMEs, so they can't even be included in actual scripts at all.

It could be just a simple GH action checking if there are tests and if they run correctly and if it has code at all (at least basic `mod.ts`), just like you said.

[2020-07-13 17:52] eliassjogreen commented on #1293
Me and @qu4k have developed [sauron](https://github.com/denosaurs/sauron) a tool that outputs different quality metrics for deno modules developed for use in registries.

[2020-07-16 13:01] apopiak opened #1323 "example fails when trying to run"
When trying to run the example from `https://deno.land/v1#a-web-browser-for-command-line-scripts` deno errors with the following message:
[code]

`deno --version`:
[code]

The script does work when removing the versioning.
So the following works:
[code]

[2020-07-18 09:39] jsejcksn commented on #1293
- What about name reservations with with code, but no maintenance or updates?
- What about no updates in _n_ duration?
- What about other situations?
- etc.

For reference: How npm handles module name disputes: https://docs.npmjs.com/using-npm/disputes.html

I think it is good to formalize Deno's official position on this, because https://deno.land/x is viewed as the "official" third-party registr

[2020-07-24 07:11] TheWizardBear commented on #1050
I don't know how feasible this would be but I think the ability to sort by multiple different metrics would be nice. E.g. alphabetical, number of downloads, last updated, Github issues/stars/PRs/watches (I know you ae saying the last one won't be possible but I think it's worth mentioning).

[2020-07-25 07:04] Nugine commented on #550
We have already translated the manual to Chinese (zh-CN).
Here is the repo: <https://github.com/Nugine/deno-manual-cn>.

We can provide a translated version by replacing the urls in [util/manual_utils.ts](https://github.com/denoland/deno_website2/blob/master/util/manual_utils.ts).

How about treat the translations as special versions?

[2020-07-25 16:51] buttercubz commented on #1323
@apopiak try running using `--reload` flag to download the latest version of  std libs

[2020-07-25 19:01] cindRoberta opened #1359 "SUGGESTION tags to filter modules on https://deno.land/x"
example of tags: webserver, UI, noSQL, SQL, API, etc

[2020-07-27 15:38] apopiak commented on #1323
Because the script mentions the version explicitly in the import that should not make a difference. The error happened on first use when dependencies are fetched anyway. (I was trying out deno for the first time.)

[2020-07-27 15:38] apopiak commented on #1323
This issue is meant as hint to update the instructions on the webpage so it works on first use :smiley:

[2020-07-28 03:48] wayjam commented on #433
It is easy to trigger the limitation in the enterprise network or behind a proxy.

[2020-07-28 04:13] kidonng commented on #433
According to https://github.com/denoland/deno_website2/pull/522#issuecomment-660527801 this issue is being worked on so stayed turned.
In the meantime, you can just browse https://github.com/denoland/deno/tree/master/std instead, there's no difference.

[2020-07-28 06:04] kitsonk commented on #1323
Ref denoland/deno#6723 there are changes afoot so that documentation doesn't have to be updated on every release.

[2020-07-28 18:24] jsejcksn commented on #997
It could be helpful for the module browser of /x to return the latest tag of each module instead of `master` (and return `master` as a fallback in case the module doesn't use tags).

A more extreme position would be to disallow modules which don't utilize [semver] tags.

[2020-07-28 18:27] lucacasonato commented on #997
We are working on this. In the very near future this problem will be solved.

[2020-07-28 19:42] jsejcksn commented on #997
@lucacasonato Any details to share? A link, etc.?

[2020-07-31 12:33] ipriver opened #1393 "Architecture: Schematic diagram is outdated"
There is an outdated architecture [diagram](https://deno.land/manual/contributing/architecture#schematic-diagram) of the deno process.
![image](https://user-images.githubusercontent.com/9049790/89034932-a3585980-d342-11ea-87ae-098cc12509a2.png)
According to [Releases.md](https://github.com/denoland/deno/blob/master/Releases.md) `libdeno` had been refactored and now deno uses [`rusty_v8`](https://g

[2020-07-31 12:53] bartlomieju commented on #1393
We're aware of this, it's listed to be updated in https://github.com/denoland/deno/issues/6844

[2020-07-31 12:58] ipriver commented on #1393
Ok, sorry, haven't seen this to be listed in the deno repository. Closing the issue.

[2020-07-31 12:58] #1393 closed

[2020-08-03 16:28] hlian opened #1404 "Back button issue on deno.land/x?"
1. Use latest Firefox on latest macOS
2. Go to https://deno.land/posts/registry2
3. Click on https://deno.land/x/oak/mod.ts
4. Get redirected to https://deno.land/x/oak@v6.0.1/mod.ts
5. Click back button
6. See this:

<img width="311" alt="image" src="https://user-images.githubusercontent.com/63533/89204911-ddb13900-d584-11ea-9956-f9e453779dea.png">

Expected:

Clicking the back button takes me to

[2020-08-03 16:59] ry commented on #1404
Similarly if you're at deno.land/x and click any module, you can't use back button to return to the list.

[2020-08-03 17:11] avalero opened #1406 "std:0.61/fs 403 forbidden"
I just found this error when building my api. I was working just fine this morning:

[code]

[2020-08-03 17:16] lucacasonato commented on #1406
We special cased this before I think. I am going to fix it giving a 403 instead of 404.

[2020-08-03 17:20] avalero commented on #1406
This is imported from another module I don't know where it's coming from...

[code]

[2020-08-03 17:57] michael-spengler opened #1407 "Challenge: Re-Link and Publish a new version as owner :)"
Situation: I'm e.g. the owner of the third party module "cities":

![Screen Shot 2020-08-03 at 7 51 55 PM](https://user-images.githubusercontent.com/43786652/89212018-0b1cd780-d5c3-11ea-9576-163944074cd3.png)

when I try to do so (re-link...):

![Screen Shot 2020-08-03 at 7 54 16 PM](https://user-images.githubusercontent.com/43786652/89212127-3a334900-d5c3-11ea-89ac-625db418ccae.png)

Perhaps I di

[2020-08-03 17:59] michael-spengler commented on #1407
sorry - I just found out I can press "Next" despite the error message "This module name is not available." Trying to complete it right now :)

[2020-08-03 18:05] michael-spengler commented on #1407
One step further:

![Screen Shot 2020-08-03 at 8 02 33 PM](https://user-images.githubusercontent.com/43786652/89212801-6ac7b280-d5c4-11ea-8f39-0de4813d175a.png)

Next Challenge: Module not visible in third party modules list (perhaps just a synchronization issue):
![Screen Shot 2020-08-03 at 8 04 32 PM](https://user-images.githubusercontent.com/43786652/89212923-9f3b6e80-d5c4-11ea-93c3-2ceeae68a9b

[2020-08-03 18:18] jeroenptrs opened #1408 ""Add a module" docs readability on larger screens"
The readability of the add a module documentation could use a few tweaks on readability. Right now:
- The "add a module" sidebar drawer only takes up ~450px on a 4k screens
- Additionally the gif on webhooks is quite unreadable on 1440p and higher

[2020-08-03 18:20] ry opened #1409 "Wrong data in directory listing (date_fns)"
https://deno.land/x/date_fns@v2.15.0/add
https://github.com/date-fns/date-fns/tree/v2.15.0/src/add

<img width="1050" alt="Screen Shot 2020-08-03 at 2 19 52 PM" src="https://user-images.githubusercontent.com/80/89214238-7307f980-d594-11ea-86b7-ecd34a9547b3.png">

[2020-08-03 18:23] lucacasonato commented on #1409
It is fine in the raw data, so it is a display issue: https://cdn.deno.land/date_fns/versions/v2.15.0/meta/meta.json

[2020-08-03 18:44] lucacasonato commented on #1407
I can see the module. You mean the description is not visible? The description is whatever description your GitHub repo has.

[2020-08-03 19:14] michael-spengler commented on #1407
Cool - I got it now :)

Thank You.

[2020-08-03 19:14] #1407 closed

[2020-08-03 20:14] lucacasonato commented on #138
You can get version info from `https://cdn.deno.land/MODULENAME/meta/versions.json` now. It lists all released versions, and the latest.

[2020-08-03 20:14] #138 closed

[2020-08-03 20:34] ry commented on #433
This was fixed in https://github.com/denoland/deno_website2/pull/1403. Read more about it at https://deno.land/posts/registry2.

[2020-08-03 20:34] #433 closed

[2020-08-03 20:34] ry commented on #946
This was fixed in https://github.com/denoland/deno_website2/pull/1403. Read more about it at https://deno.land/posts/registry2

[2020-08-03 20:34] #946 closed

[2020-08-03 20:36] ry commented on #1204
This was fixed in https://github.com/denoland/deno_website2/pull/1403. Read more about it at https://deno.land/posts/registry2

[2020-08-03 20:36] #1204 closed

[2020-08-03 20:36] ry commented on #1050
This was fixed in https://github.com/denoland/deno_website2/pull/1403. Read more about it at https://deno.land/posts/registry2

[2020-08-03 20:36] #1050 closed

[2020-08-03 20:37] ry commented on #548
Won't fix. We want to allow an open module registry like NPM. We can provide a curated list elsewhere.

[2020-08-03 20:37] #548 closed

[2020-08-03 20:39] lucacasonato commented on #461
Duplicate of #138 which has been fixed.

[2020-08-03 20:39] #461 closed

[2020-08-03 20:43] #1404 closed

[2020-08-03 21:26] #1170 closed

[2020-08-03 21:28] lucacasonato commented on #997
Update: deno.land/x/MODULE/path.ts now redirects to the latest _release_ rather than latest version. We might restrict this more in the future. All other paths are now unchanging. Read more at https://deno.land/posts/registry2

[2020-08-03 21:29] lucacasonato commented on #938
I can't find this link and there has been no response since may 30th so I am gonna close this.

[2020-08-03 21:29] #938 closed

[2020-08-03 21:45] lucacasonato commented on #814
Update: we don't use raw.githubusercontent.com for deno.land/x anymore. See https://deno.land/posts/registry2

[2020-08-03 21:46] #1409 closed

[2020-08-03 21:46] #1406 closed

[2020-08-03 22:20] #719 closed

[2020-08-03 22:32] ry opened #1416 "/x should display search and module listing above the fold"
Currently there is a lot of text which isn't relevant to most users:
<img width="1280" alt="Screen Shot 2020-08-03 at 6 29 35 PM" src="https://user-images.githubusercontent.com/80/89233296-4dd8b280-d5b7-11ea-82a5-ff65748cd063.png">

The most interesting stuff should be visible. I propose moving the /x FAQ in part or completely to the manual or another page.

It would be nice to have the total modu

[2020-08-03 22:32] MarkTiedemann commented on #138
@lucacasonato This issue is not about the version of a module, but about Deno's version.

This is similar to https://github.com/denoland/deno_install/issues/115.

[2020-08-03 23:26] aricart opened #1417 "new website feature for retrieving a package breaks any project relying on the default branch."
The deno package strategy will definitely be a challenging mechanism. For example, the new changes to the deno.website that allow self-registration of a module is awesome from one perspective. From another, it looks like we lost the ability to specify a default branch if no version is provided (or that functionality is broken). This type of functionality is a requirement for development.

For exam

[2020-08-03 23:41] lucacasonato commented on #138
https://cdn.deno.land/deno/meta/versions.json

[2020-08-04 00:03] MarkTiedemann commented on #138
That's nice.

Unfortunately, I think it's not usable for determining the latest Deno version for downloading the latest Deno binary. That is because there is a time difference between the git tag being pushed and the binaries being built and uploaded. For example, v1.2.2 was tagged at 2020-07-31T19:14:25Z, the GitHub release was created at 2020-07-31T21:06:46Z, almost 2h later, (and the binaries m

[2020-08-04 00:17] lucacasonato commented on #138
The versions.json file in this repo contains a list of Deno CLI versions. It is updated manually after artifacts are published.

[2020-08-04 02:56] ry commented on #579
fixed

[2020-08-04 02:56] #579 closed

[2020-08-04 03:07] kidonng opened #1419 "Empty link on deno.land/x"
https://github.com/denoland/deno_website2/blob/3ec4669a4977da1382a34897b449fc759c9d9f22/pages/x/index.tsx#L125-L127

[2020-08-04 03:41] kidonng opened #1420 "Error on file navigation page"
Steps to reproduce:

- Open file navigation page (for example https://deno.land/std or https://deno.land/x/std)
- Browse to a file, let's say https://deno.land/std@0.63.0/README.md
- Go to a folder (by clicking the breadcrumb or browser back button)
- Click any folder or file
- Page went blank with "An unexpected error has occurred." message (if you are on `yarn dev` there won't be any message)

E

[2020-08-04 07:29] MarkTiedemann commented on #138
Sweet, that's perfect! Thanks. :)

[2020-08-04 08:03] hidebike712 opened #1422 "How do I relink my module?"
I had a module called authlete_deno_fen_oauth_server (https://deno.land/x/authlete_deno_fen_oauth_server) as a 3rd party module on deno.land/x, which didn't have any version tags.

When I accessed https://deno.land/x/authlete_deno_fen_oauth_server, I got the following error.

So, I've added a version tag to my module but still got the same error.
Any workaround for this? (I'm wondering how to **re

[2020-08-04 08:07] crowlKats commented on #1422
you need to follow the instructions from https://deno.land/x#add

[2020-08-04 08:26] hidebike712 commented on #1422
Thank you.

I'd like to register a module with the same name (= authlete_deno_fen_oauth_server) but the instruction says '**This module name is not available.**' if I input the name as a module name as below, probably because of my existing module...

![スクリーンショット 2020-08-04 17 11 06](https://user-images.githubusercontent.com/5583716/89271076-2e08c380-d677-11ea-891d-b9afa2f11ab5.png)

Does this mea

[2020-08-04 08:34] lucacasonato commented on #1417
This functionality was indeed removed. This was done because we store source code on our servers now, rather than just proxying to raw.githubusercontent.com. Because we only store released versions, not all commits we can't provide code versioned by commit (or branch) anymore.

For development you can make use of raw.githubusercontent.com links: https://raw.githubusercontent.com/dr-useless/tweetna

[2020-08-04 08:35] lucacasonato commented on #1422
Just click `Next` even though there is an error message.

[2020-08-04 09:25] hidebike712 commented on #1422
Thanks a lot.

Unfortunately, I still got the "No uploaded versions" error on https://deno.land/x/authlete_deno_fen_oauth_server.

Here's what I did:

1. I've added the module with the same name (= authlete_deno_fen_oauth_server) and set up Github webhook according to the instruction on https://deno.land/x#add.

2. Then, I created a new version tag on my repo (https://github.com/authlete/deno-fen-

[2020-08-04 09:33] lucacasonato commented on #1422
@hidebike712 It has been uploaded, I can see it. It is probably still caching the old page on your machine. You can refresh with Ctrl+Shift+R to trigger a force reload.

[2020-08-04 09:37] hidebike712 commented on #1422
@lucacasonato Thanks a lot! I can see it now! What an embarrassing mistake...

[2020-08-04 09:38] #1422 closed

[2020-08-04 11:10] maheshkareeya commented on #1407
Got it

[2020-08-04 11:24] #480 closed

[2020-08-04 12:21] ry commented on #1416
Also the module count is not visible on mobile

![CE1DFB51-CFFA-46B0-8D70-F562E763816B](https://user-images.githubusercontent.com/80/89293172-74383580-d62b-11ea-8b94-877de8c7b99f.png)

[2020-08-04 13:51] aricart commented on #1417
The main handicap is really that no notice of the change to the behavior. Just was a bit surprised that one of my builds was failing. IMHO the new mechanism is better in some ways - for example, it will be difficult to spoof a library, previously any troll could have pushed a PR changing something.

[2020-08-04 13:55] lucacasonato commented on #1417
Yeah, good point - a deprecation warning would have been nice, but we didn't have a good way of implementing it. We monitored the release real time to verify that we didn't have some crazy error rate, and rolled back changes that caused an excessive amount of errors. We will reimplement those changes later, after putting them behind a proper deprecation notice. We are now back to about the same le

[2020-08-04 14:39] jsejcksn commented on #997
@lucacasonato I noticed that you said _release_ here, but _tags_ are referenced in the link you shared. It is an important distinction. Will you clarify the behavior? Does /x link only to _release_ tags or to all tags?

[2020-08-04 14:40] lucacasonato commented on #997
Sorry, I meant to say _all tags_.

[2020-08-04 15:27] MarkTiedemann commented on #138
I'd like to add a feature for returning the latest version in plain text. :)

[2020-08-04 15:45] lucacasonato commented on #138
@MarkTiedemann You can find the source code at https://github.com/denoland/deno_registry2. The API is not stable though and is likely to change. There is a little documentation at https://github.com/denoland/deno_registry2/blob/main/API.md. If we want to make the API more extensive I think we should spec it out first. I'll open an issue on the repository.

[2020-08-04 16:36] lucacasonato commented on #1420
Fixed in #1424

[2020-08-04 16:36] #1420 closed

[2020-08-04 17:57] jsejcksn commented on #997
@lucacasonato Was there discussion around this happening somewhere you can share a link to?

[2020-08-04 18:07] nayeemrmn commented on #997
@jsejcksn There's some discussion here: https://github.com/denoland/deno/issues/6723.

[2020-08-04 19:55] officialanurag opened #1425 "Demo Manual "Next Page" link is always "Introdcution"."
Link: https://deno.land/manual/getting_started/installation

After installation, `Setup your environment` should come instead of `Introduction` in the bottom right "next page" link.

[2020-08-04 23:40] narwy commented on #997
I still think this is a good point, I know there’s still modules which are supporting the first version of deno and using the old std versions in some of the most used modules.

I know the cdn is now immutable but what’s stopping modules being released and never updated in the future. How would this be moderated also.

Some points:
- How do module maintainers keep track of dependency versions?
- A

[2020-08-05 09:11] jsejcksn commented on #997
I think some of these are great considerations.

The core nature of some modules are such that maintenance is only rarely or never required. Just because a module repo lacks regular commits doesn't necessarily mean its code is outdated. The concept of _stale_ or _unmaintained_ are very contextual, so I think that aspect will need careful consideration if implemented.

[2020-08-05 09:40] narwy commented on #997
Correct It would need to criteria to determine if it's stale or unmaintained.

- Been recommended updates over a period of time by the bot and not been updated, header for deprecate?
- A downvote and upvote system maybe, with a calculation over a period of time it gets flagged for review

I think a bot would be a cool, automated way to go would just keep checking module repos. However the factors

[2020-08-06 00:34] crowlKats opened #1429 "Possible ePrivacy breach?"
From my understanding, since deno.land uses Cloudflare, and the `_cfduid` cookie is set, there should be a cookie banner as stated in the [cloudflare support page for cookies](https://support.cloudflare.com/hc/en-us/articles/200170156-Understanding-the-Cloudflare-Cookies#12345679).

[2020-08-06 01:25] ry commented on #1429
Ideally we could disable that cookie ?

[2020-08-06 01:47] kitsonk commented on #1429
[From their support pages](https://support.cloudflare.com/hc/en-us/articles/200170156-Understanding-the-Cloudflare-Cookies#12345682:

[2020-08-06 12:48] lucacasonato commented on #1417
@aricart Is this issue resolved now?

[2020-08-06 12:51] #1425 closed

[2020-08-06 13:02] aricart commented on #1417
Yes, you can close it

[2020-08-06 13:02] #1417 closed

[2020-08-06 15:38] AkifumiSato opened #1431 "My module description is empty on deno.land/x/"
My module name is `dexr`.
It Was visible until just recently.
What should i do?

https://deno.land/x/

[2020-08-06 15:39] narwy commented on #1431
Do a hard refresh and clear your cache, it's showing for me.

[2020-08-06 15:40] lucacasonato commented on #1431
The module description on deno.land/x is based on the description on your GitHub repository. To update it on deno.land/x:

1. Update the description on your GitHub repository
2. Create a new tag for your module

@narwy He is talking about the module description displayed in the module list, not the module itself.

[2020-08-06 16:51] lucacasonato commented on #1419
Closed by #1433

[2020-08-06 16:51] #1419 closed

[2020-08-06 16:52] lucacasonato commented on #556
I don't know how to fix this either. Maybe a recent next.js update has fixed this. This is not an issue with this repo as far as I am concerned.

[2020-08-06 16:52] #1429 closed

[2020-08-06 20:29] officialanurag commented on #1425
Wow. looks great now.

[2020-08-07 08:23] JWebCoder opened #1436 "Webhook issues with already existing module"
I've just updated one of my modules **mith** with the new Webhook for /x/ but when I create a new tag I'm getting this error on the webhook: `{"success":false,"error":"module name is registered to a different repository"}`

Can someone help with this?
Thank you.

[2020-08-07 10:25] lucacasonato commented on #1436
What is the module name?

[2020-08-07 10:36] JWebCoder commented on #1436
Its mith

[2020-08-07 10:56] lucacasonato commented on #1436
It is registered to `jwebcoder/mith`. I have changed the repository to `JWebCoder/mith`. Please try to redeliver the webhook from GitHub's UI and see if that fixed it.

[2020-08-07 15:18] JWebCoder commented on #1436
Can you do the change all modules from jwebcoder to JWebCoder?

[2020-08-07 15:19] lucacasonato commented on #1436
if you give me the names of all modules, sure

[2020-08-07 15:22] JWebCoder commented on #1436
mith_static and mith_router at least :)

[2020-08-07 15:23] lucacasonato commented on #1436
Done

[2020-08-07 18:30] lucacasonato commented on #1436
This will be closed by https://github.com/denoland/deno_registry2/pull/52

[2020-08-07 19:36] lucacasonato opened #1438 "GitHub App to add webhook"
A user should be able to add a module by just pressing a few buttons in the UI, instead of needing to manually add a Webhook:

1. User goes to `https://deno.land/manage`.
2. User clicks on `Sign in with GitHub`
3. User signs in with GitHub
4. User sees list of all their public repositories
5. User selects a repo.
6. User sees a list of modules published from this repo (or empty if none exist).
7.

[2020-08-07 21:09] #1436 closed

[2020-08-07 21:23] JWebCoder commented on #1436
Perfect, thank you.

[2020-08-08 02:25] ebebbington commented on #1408
Could we also suggest to wrap the text for the URL step as a part of this issue? It just flows off the screen (see step 5):
![image](https://user-images.githubusercontent.com/47337480/89700541-c5e00900-d926-11ea-8720-e048d3ec67d0.png)

[2020-08-08 02:27] ebebbington opened #1440 "Keep Prevously Typed Value in Search Bar"
Primarily to improve UX, could the search bar value for module search stay consistent even after leaving the page? For example, what could happen:

1. Enter https://deno.land/x/
2. Type "framework" in search bar
3. Scroll through the list, click any module
4.  Go back
5. "framework" is still present in the search bar

[2020-08-08 02:28] KSXGitHub opened #1441 "Question: How to update tags of old modules?"
Before [the update](https://deno.land/posts/registry2), I have registered quite a few libraries (`args`, `once`, `compose`, etc.). Now, I need to update it but the Web Hook only works on new names.

[2020-08-08 04:08] AkifumiSato commented on #1431
@lucacasonato Thanks!
I tried setting the webhook and updating the tags and waited for a day,
but it seems that the explanation does not appear yet.

Is there any other cause?

[2020-08-08 05:15] lucacasonato commented on #1431
It uses the description of your repository on GitHub. [How to change it](https://stackoverflow.com/questions/7757751/how-do-you-change-a-repository-description-on-github).

After updating the description, you need to release a new tag.

[2020-08-08 05:18] lucacasonato commented on #1441
How many modules do you need, and for which repository? I'll increase your limit.

[2020-08-08 05:30] KSXGitHub commented on #1441
@lucacasonato It worked! Thanks.

[2020-08-08 05:30] #1441 closed

[2020-08-08 05:58] brandonkal commented on #997
@narwy and others: I would suggest bringing https://web.crev.dev/ to Deno. Using that system, @andreespirela could have posted a quick review alerting other users about the broken dependency version. Users can then easily see if there is any reported issues with their dependencies and choose which reviewers to trust. A bot could easily fit into that, though I suspect it would generate a lot of noi

[2020-08-08 08:31] lucacasonato commented on #1323
Examples in the docs now use versioned imports, so this should not occur again.

[2020-08-08 08:31] #1323 closed

[2020-08-08 08:34] lucacasonato opened #1442 "Use S3 backing for docs"
Using commit hashes to view docs for a specific commit should still be possible. If we don't find the docs on S3, we should try raw.githubusercontent.com.

This should resolve issues with viewing the docs in China.

[2020-08-08 08:36] lucacasonato commented on #643
This won't be done. If you want to scope by author, just import directly from GitHub.

[2020-08-08 08:36] #643 closed

[2020-08-08 08:38] lucacasonato commented on #814
We are tracking moving manual to S3 in #1442

[2020-08-08 08:38] #814 closed

[2020-08-08 08:39] lucacasonato commented on #720
Part of #747

[2020-08-08 08:39] #720 closed

[2020-08-08 08:45] lucacasonato commented on #470
Update: we have reached out to Algolia about DocSearch.

[2020-08-08 08:47] lucacasonato commented on #136
@zhmushan Can this still be reproduced, or can this be closed?

[2020-08-08 08:47] #218 closed

[2020-08-08 08:47] lucacasonato commented on #278
Typedoc has been removed

[2020-08-08 08:47] #278 closed

[2020-08-08 08:49] michael-spengler opened #1443 "New Third Party Module Creation Process is great --> Only Challenge: Owner Transferring Ownership to another Org"
Hi Deno Team.

I think your new "Add Third Party Module Process" is great.

The only open question I currently have on this is:
**How do you handle it if an owner transfers the ownership of a connected repository to another org?**

I guess he will have to delete and re-add the webhook from his new org/repo  - I tested this and got a 400 {"success":false,"error":"module name is registered to a diff

[2020-08-08 08:49] zhmushan commented on #136
@lucacasonato Thanks for reminding, this has been fixed

[2020-08-08 08:49] #136 closed

[2020-08-08 08:50] lucacasonato commented on #439
I think we have come to the conclusion that this should be part of the manual. Ref https://github.com/denoland/deno/issues/6844

[2020-08-08 08:50] #439 closed

[2020-08-08 08:53] lucacasonato commented on #1443
Hi,

If you let me know what module to move to what org, I can move the module in the internal database. Ultimately this will be done automatically when we implement https://github.com/denoland/deno_registry2/issues/24.

[2020-08-08 08:55] lucacasonato commented on #231
@divy-work This has not been taken by anyone yet, so feel free to work on it.

[2020-08-08 08:56] michael-spengler commented on #1443
Hi @lucacasonato.

Thank you for the speedy answer. Here we go:

https://deno.land/x/learn

New Org/Repo: https://github.com/fancy-flashcard/learn

[2020-08-08 08:56] lucacasonato commented on #296
This should be fixed.

[2020-08-08 08:56] #296 closed

[2020-08-08 08:57] lucacasonato commented on #356
This is part of the registry roadmap: https://github.com/denoland/deno_registry2/issues/35

[2020-08-08 08:57] #356 closed

[2020-08-08 08:59] lucacasonato commented on #1443
Updated. Just redeliver the GitHub Webhook.

[2020-08-08 09:00] lucacasonato commented on #650
Part of #550

[2020-08-08 09:00] #650 closed

[2020-08-08 09:34] michael-spengler commented on #1443
Cool. Thank you Luca. It works. --> I close this issue.

[2020-08-08 09:34] #1443 closed

[2020-08-08 10:05] AkifumiSato commented on #1431
I misunderstood the meaning of the `description` in the repository.
Completed successfully,
Thanks!

[2020-08-08 10:05] #1431 closed

[2020-08-08 11:16] lucacasonato commented on #213
It's not feasible to introduce this as a restriction for deno.land/x. I will implement a dependency tree view for modules though (so people can make the decision themselves), and maybe later down the line we can introduce a search filter for this.

[2020-08-08 11:30] #398 closed

[2020-08-08 11:32] #949 closed

[2020-08-08 11:33] lucacasonato commented on #949
This issue tracker is for issues and feature requests regarding the deno.land website. Questions about Deno should be asked on Discord: https://discord.gg/deno

[2020-08-08 13:04] lucacasonato opened #1447 "Go to latest button"
Next to (or under) the version selector on deno.land/x/foobar there should be a `Go to latest version (v0.1.1)` button if you are not on the latest version.

[2020-08-08 13:09] #1440 closed

[2020-08-08 13:11] #210 closed

[2020-08-08 13:11] #696 closed

[2020-08-08 13:49] #1447 closed

[2020-08-08 13:49] #1442 closed

[2020-08-08 14:39] ebebbington commented on #1440
Nice one @lucacasonato!

[2020-08-09 01:07] tokiedokie opened #1451 "Can I use those codes under the MIT license?"
I am building deno website for Japanese
I don't find any licenses for this repository (except deno image)
Can I use those codes under the MIT license?

[2020-08-09 03:24] kitsonk commented on #213
Fair enough...

[2020-08-09 03:24] #213 closed

[2020-08-09 11:02] lucacasonato commented on #1451
There is a header on all files specifying that the code is MIT licensed so feel free to fork / copy or do whatever you want with it. The licences for all of the artwork can be found at https://deno.land/artwork.

@ry We seem to be missing a LICENCE file in this repo.

[2020-08-09 15:36] ry commented on #1451
@tokiedokie This code is MIT, you may use it for a Japanese language website.  I will add a LICENSE file to the project.

[2020-08-09 23:35] tokiedokie commented on #1451
@lucacasonato @ry Thank you

[2020-08-09 23:35] #1451 closed

[2020-08-11 08:24] jeroenptrs opened #1456 "Add link unfurling for deno.land urls"
This is especially noticeable for deno.land/x modules that are linked through slack/discord. There's no preview (link unfurling) happening as far as I can tell with any links coming from deno.land, but unfurler does give results for opengraph and twitter:
https://unfurler.com/?url=https:%2F%2Fdeno.land%2Fmanual

[2020-08-11 13:42] lucacasonato commented on #530
Update: You can now search through all of the file names per module - so like github file finder

[2020-08-11 15:09] #747 closed

[2020-08-11 21:37] cknight opened #1460 "Support for location hashes"
Browsing my 3rd party module's README.md on https://deno.land/x, there are multiple places where I link from one section to another, using location hashes.  These do not work.

E.g.
https://deno.land/x/optic@v0.7#log-formatting loads the top of the page
https://github.com/onjara/optic#log-formatting correctly jumps to the log formatting section

[2020-08-11 21:51] nayeemrmn opened #1461 "Registry version redirects don't retain the hash"
Actual: https://deno.land/std/http/server.ts#L2 -> https://deno.land/std@0.64.0/http/server.ts

Expected: https://deno.land/std/http/server.ts#L2 -> https://deno.land/std@0.64.0/http/server.ts#L2

[2020-08-12 15:37] CodingCarter opened #1464 "Deno Module Page Showing "No uploaded versions" Error"
I uploaded my Deno [Minifier module](https://github.com/CodingCarter/minifier) to the deno.land's third party modules and after going through all of the designated steps, I went to the page at [https://deno.land/x/minifier](https://deno.land/x/minifier) and the website is showing this
![image](https://user-images.githubusercontent.com/43641633/90035645-a713a680-dc87-11ea-8c5b-3be9820ce7fb.png)

I

[2020-08-12 15:40] ry commented on #1464
@CodingCarter We made a big refactor to how the deno.land/x website works to increase stability. Unfortunately that has caused a bit of instability like you're experiencing as we move over to the new system. Read about it here https://deno.land/posts/registry2

TLDR: go to https://deno.land/x#add and put in "minifier" click next even tho it's grayed out.

[2020-08-12 15:41] lucacasonato commented on #1464
@CodingCarter I see you have gone through all of the steps to add it. It is showing up for me. I think it is just caching some old data on your side. Could you hard refresh to wipe the cache? (Ctrl-Shift-R) on Chrome.

[2020-08-12 15:46] CodingCarter commented on #1464
Thank you very much, this fixed my issue 👍

[2020-08-12 15:46] #1464 closed

[2020-08-12 18:28] #1461 closed

[2020-08-12 18:30] #1460 closed

[2020-08-12 18:38] cknight commented on #1460
Thanks Luca!

On Wed, Aug 12, 2020, 19:30 Luca Casonato <notifications@github.com> wrote:

[2020-08-13 08:03] #470 closed

[2020-08-15 10:14] tokiedokie commented on #758
this issue is now solved  #893
@ry please close this issue

[2020-08-15 10:15] #758 closed

[2020-08-16 15:24] #1416 closed

[2020-08-17 18:19] lucacasonato commented on #1056
Done

[2020-08-17 18:19] #1056 closed

[2020-08-17 19:52] yurianxdev commented on #1408
I'll take this

[2020-08-18 11:55] lucacasonato opened #1476 "Page on /x should stay persistent after navigation"

[2020-08-18 22:08] lucacasonato opened #1480 "Reenable CLA"

[2020-08-19 12:07] #1480 closed

[2020-08-19 13:29] #1408 closed

[2020-08-19 19:20] #1476 closed

[2020-08-28 01:35] vladkorotnev opened #1491 "Part of the sample code is missing on the frontpage"
Hi there

Just wanted to let you know that for some reason a part of the "more complex" sample code is missing the package identifier (apparently) and looks like the following:

![image](https://user-images.githubusercontent.com/656194/91511169-0e815580-e91a-11ea-83de-e7a8b557ab11.png)

The "email protected" part points to a file in `/cdn-cgi/`, so I assume Cloudflare or another CDN is misrecogniz

[2020-08-28 12:15] timreichen commented on #1293
I would also put module naming on the list. It is all over the place and feels really messy. Some names include prefixes like `deno` (example: `deno_csv`), some don't, some are upper some lowercase. Some are just copied npm modules (like [lodash](https://deno.land/x/lodash@4.17.19)), some are ports to deno, some with features already existing in `std`.

First I thought, /x contain modules that ext

[2020-08-29 18:38] Soremwar commented on #1104
@rafaelcastrocouto Is there anyway I can open an issue regarding problems/suggestion to the repo implementation?

[2020-08-31 10:28] lucacasonato commented on #1491
Thanks - seems incorrect indeed. I have disabled this Cloudflare feature.

[2020-08-31 10:28] #1491 closed

[2020-09-01 13:35] caspervonb opened #1494 "Line anchors are highlighted but not jumped to"
Given an url such as https://deno.land/std@0.67.0/fmt/colors.ts#L230 the line is highlighted but the browser loads with the viewport at the top of the page.

Would be nice if it jumped to the anchor.

[2020-09-03 13:32] #1494 closed

[2020-09-06 20:19] srackham opened #1499 "deno.lang unaware of new version of third party module"
I published a new tagged version v1.3.0 to Github but deno.land is unaware of the new version.
16 hours later it's not showing on deno.land:

- https://deno.land/x/drake@v1.3.0  ERROR: 404 - Not found:
- https://github.com/srackham/drake/tree/v1.3.0/ OK
- https://github.com/srackham/drake/blob/v1.3.0/mod.ts OK

The previous latest version was and still is OK:

- https://deno.land/x/drake@v1.2.6 OK

[2020-09-06 20:26] lucacasonato commented on #1499
@srackham Did you add the webhook after the recent changes to the registry? See https://deno.land/posts/registry2

[2020-09-06 20:58] srackham commented on #1499
No I didn't. I've just set up the webhook in my repo and now I can see that one webhook delivery has been successfully made to https://api.deno.land

Thanks for answering so quickly.

I'm guessing that I now need to publish a new release to Github to trigger a release update on deno.land?

[2020-09-06 21:04] lucacasonato commented on #1499
Yup, exactly

[2020-09-06 22:15] srackham commented on #1499
Thanks, all sorted.

[2020-09-06 22:15] #1499 closed

[2020-09-12 17:51] smkamranqadri commented on #1456
I would like to take this?

[2020-09-12 18:38] lucacasonato commented on #1456
@smkamranqadri Thanks for the offer, but we had this previously, but removed it again. Before adding this again we need to decide exactly what we want.

[2020-09-13 17:29] trivikr opened #1504 "Add one-click link to edit blog post page on GitHub"
**Is your feature request related to a problem? Please describe.**
Some commands needed correction in Deno v1.4 release post. The viewer ended up cutting issues on deno core repo, and they were fixed in a PR.

Issues: https://github.com/denoland/deno/issues/7448, https://github.com/denoland/deno/issues/7449
PR: https://github.com/denoland/deno_website2/pull/1503

**Describe the solution you'd like

[2020-09-14 03:44] smkamranqadri commented on #1456
Noted with thanks, let me know if I can be any help.

[2020-09-15 12:31] #1504 closed

[2020-09-15 12:52] ry opened #1506 "add timestamps to stats for "new modules" and "recently updated""

[2020-09-15 21:35] cknight opened #1509 "Add version timestamp to third party module's page"
3rd party modules are viewed on a version basis.  It would be great to see the timestamp on the page of when that version was created to give the viewer an idea of currency of the version being viewed.

[2020-09-15 22:29] tokiedokie commented on #1509
Duplicate of #1506

[2020-09-15 22:30] lucacasonato commented on #1509
I don't think it is a duplicate - #1506 is for stats at the bottom of deno.land/x, and this issue is for individual version pages

[2020-09-15 22:35] tokiedokie commented on #1509
@lucacasonato I misread it. you are right

[2020-09-17 07:31] caspervonb opened #1512 "Link between stable and unstable documentation"
Right now the best way to navigate the runtime documentation on deno.land I've come up with is just have the urls memorized.
Would be nice to have a link from builtin/stable to builtin/unstable and vice versa at the top near the logo.

Something like

[code]

[2020-09-17 07:42] tokiedokie commented on #1512
@caspervonb I think that would be nice. however your issue should go to https://github.com/denoland/doc_website
https://doc.deno.land/ is not maintained in this repository.

[2020-09-17 09:12] srackham opened #1513 "Order version tags by semantic version number"
Order version tags in the deno.land third party modules drop-down versions list by semantic version number (ignoring the 'v' prefix).

Currently (1) if a Github project containing a mix of 'v' and non 'v' prefixed version numbers is imported to deno.land/x/ then the 'v' tags appear at the top of the list irrespective of their semantic version number or chronological ordering (I suspect this is bec

[2020-09-17 20:28] lcspn opened #1514 "Incorrect example of "Changes in deno.land/std" inside Deno 1.4 Release Notes"
Inside the of the["Changes in deno.land/std" section from Deno 1.4 Release Notes page](https://deno.land/posts/v1.4#changes-in-denolandstd) the second diff is incorrect.

[code]

should be

[code]

[2020-09-17 22:30] tokiedokie commented on #1514
@lcspn You can submit PR to https://github.com/denoland/deno_website2/blob/master/public/posts/v1.4.md

[2020-09-17 23:05] tokiedokie commented on #1514
FYI, you can edit with "Edit on GitHub" button
<img width="571" alt="edit_on_github" src="https://user-images.githubusercontent.com/42903136/93537111-9bea1f80-f985-11ea-8d7f-f2885e491c41.png">

[2020-09-18 12:58] LitoMore opened #1515 "Some trash modules need to be removed"
<img width="315" alt="image" src="https://user-images.githubusercontent.com/8186898/93599687-1bf99f00-f9f1-11ea-9af7-7b2d2bad58f8.png">

I got some trash modules when I trying search `react` on The Party Modules page. https://deno.land/x?query=react

Could you remove these trash modules?

BTW, do you have any solution to prevent more trash landing on Deno?

[2020-09-18 13:18] lucacasonato commented on #1515
This has been resolved.

[2020-09-18 13:18] #1515 closed

[2020-09-19 11:05] TheWizardBear opened #1519 "Add modules to "new modules" section after first release, rather than initial registration."
Currently, a few of the modules in the "new modules" section on [deno.land/x](https://deno.land/x#stats) are empty modules that don't have any releases. It would be nice if modules were added here after their first release on deno.land/x, rather than when the webhook is registered.

This way, all of the modules on the list will already have code on deno.land/x. It will also mean that if a module c

[2020-09-19 15:44] lucacasonato opened #1520 "Force redirect from /x/std to /std"

[2020-09-20 15:29] qu4k opened #1521 "Stars in the stats section should be displayed in the "Recently Updated" list as well"
The current Stats section (https://deno.land/x#stats) displays stars in the "New modules" module list. Modules in that list, being new, have 0 to 2 stars maximum each. I would make more sense to display star count in the "Recently Updated" list where modules have a higher star count.

[2020-09-20 16:22] TheWizardBear commented on #1519
I just realised that I opened this issue in the wrong repo. See: denoland/deno_registry2#142

[2020-09-20 16:22] #1519 closed

[2020-09-20 19:15] ebebbington opened #1522 "std/async and std/signal Is Missing a README.md"
https://deno.land/std/async and https://deno.land/std/signal are missing readme's - i assume it would be best to have one like the other modules to document the async methods?

[2020-09-20 23:38] tokiedokie commented on #1522
@ebebbington README files in std are not maintained in this repository. however you can submit issue to https://github.com/denoland/deno

[2020-09-21 08:40] ebebbington commented on #1522
Oh yeah, cheers @tokiedokie

[2020-09-21 08:40] #1522 closed

[2020-09-21 09:52] #1506 closed

[2020-09-21 19:29] lucacasonato opened #1524 "Copy anchor link to clipboard when clicking on anchor link in markdown heading"

[2020-09-22 06:37] tokiedokie commented on #1142
done in denoland/deno#5426

[2020-09-22 06:43] tokiedokie commented on #560
I don't think this is a problem with this web site, but with discord

[2020-09-22 06:53] #560 closed

[2020-09-22 07:29] hst-m commented on #1514
https://github.com/denoland/deno_website2/pull/1525

[2020-09-22 14:57] #1142 closed

[2020-09-24 06:02] 00ff0000red commented on #1104
As it seemed like no one had ever responded to you, I'd recommend https://github.com/replit/polygott/issues or just https://github.com/replit.

[2020-09-26 21:50] trivikr opened #1527 "Deno manual should link to code in version branch instead of master."
**Is your feature request related to a problem? Please describe.**
Deno manual links to code in master branch.

For example, the link to `lib.deno.unstable.d.ts` in [Standard Library](https://deno.land/manual@v1.4.1/standard_library) manual links to https://github.com/denoland/deno/blob/master/cli/dts/lib.deno.unstable.d.ts

Link: https://deno.land/manual@v1.4.1/standard_library
<details>
<summary

[2020-09-26 22:04] #1527 closed

[2020-09-28 16:31] ry opened #1529 "square brackets are not displayed properly in filenames on x"
<img width="1280" alt="Screen Shot 2020-09-28 at 12 30 46 PM" src="https://user-images.githubusercontent.com/80/94460282-7b407780-0186-11eb-8a39-49cf535362ba.png">

https://deno.land/x/dext@0.2.0/example/pages/user/%5Bname%5D.tsx

[2020-09-29 15:29] Hardik500 opened #1531 "Import 'https://deno.land/std@master/examples/welcome.ts' failed: 404 Not Found"
## Issue
Running the programs in the master version from the manual will return a 404 Error

## Steps to reproduce the issue:
1. Go to [https://deno.land/manual](https://deno.land/manual)
2. Select the version as master from the dropdown
3. Click on "2.3 First steps" from the left dropdown or any other section which has a program link with the version
4. Now run any program, let's say `deno run ht

[2020-09-30 10:51] Hardik500 commented on #1531
@ry My current solution is adding `code = code.replaceAll("/std@master/","/std/");` in the CodeBlock.tsx file just at the start of RawCodeBlock component. So could you tell me if there is a better place for this code or am I missing something?

[2020-09-30 11:44] lucacasonato commented on #1531
Easier to just set std version to the latest, instead of master.

[2020-09-30 22:12] amasad commented on #1104
The polygott issue tracker is not a bad place for that. We also have https://repl.it/bugs too

[2020-10-01 03:07] Hardik500 commented on #1531
So I changed the code in Manual.tsx file from
[code]

to

[code]

Is this the change that you were implying @lucacasonato ?

[2020-10-01 11:04] #1529 closed

[2020-10-01 13:25] bartlomieju opened #1542 "Support $STD_VERSION substitution in deno.land/std"
I'd be great to support `$STD_VERSION` tag substitution in `deno.land/std` in README files.

https://github.com/denoland/deno/pull/7442#discussion_r498235440

[2020-10-01 14:01] mumumilk commented on #1509
Where do y'all think is the best place to display this timestamp?

[2020-10-01 17:38] mumumilk commented on #409
I was thinking about submiting a PR for this issue, but before, i have a couple of questions:

- Do yall think it is a good idea to use tailwind's experimental dark mode feature? If so, should we do it based on `prefers-colors-scheme` only or build a toggle somewhere ?
- It is required to stick to default tailwind's gray palette?
- Should I submit a PR only when the whole docs are with dark mode o

[2020-10-01 18:13] lucacasonato commented on #409
Hey @mumumilk, this issue is actually way more involved than it seems because we have user provided content on the website (e.g. https://deno.land/x/oak/README.md). Before starting on this we should discuss how we want user provided content to behave (what should it look like).

I think a good start would be to use the experimental dark mode feature in Tailwind with the `prefers-color-scheme` sett

[2020-10-01 18:48] #1514 closed

[2020-10-01 20:30] cknight commented on #1509
This was my thinking, placing the tagged date just under the select box of the version:

![image](https://user-images.githubusercontent.com/1248238/94859918-38ec9400-042d-11eb-9dce-3ffe6fa4aea2.png)

[2020-10-01 21:24] littletof commented on #1509
Just an idea, but maybe it could be added after the selected version like:
![image](https://user-images.githubusercontent.com/32012862/94864782-cdaabe00-043c-11eb-87ac-50027a03a428.png)

Although with the current setup you couldn't style it differently than the tag name, like giving it a lighter color 😕

[2020-10-03 00:08] #1524 closed

[2020-10-03 09:54] #1542 closed

[2020-10-10 03:36] amiratak88 opened #1561 "yarn dev error"
Getting this error when I run `yarn dev`. How can I fix this?

```Error: Circular structure in "getInitialProps" result of page "/". https://err.sh/vercel/next.js/circular-structure```

It only happens with next v9.5.4. next 9.5.3 works fine.

[2020-10-10 12:30] ry opened #1563 "put "recently updated" and/or "new modules" stats on homepage somewhere"

[2020-10-11 15:11] TheWizardBear commented on #1563
This is probably an unpopular opinion but personally I think that they should only be on the third party modules page, in order to keep Deno (the runtime) separate from deno.land/x (the module registry).

[2020-10-23 21:12] cknight opened #1571 "Third party module search is too basic"
It would be great to have a more powerful search engine in the Third Party module area, perhaps one that could also take into account content in the READMEs.  Some examples of current sub-optimal results:
* search for "middleware" and `oak` squeaks in at 20th
* search for "middleware framework" and `oak` rises to 10th
* search for "oak" and `oak` comes 9th (!)
* My module (Optic) is a logger or de

[2020-10-23 21:17] lucacasonato commented on #1571
Totally agree. Closing in favor of https://github.com/denoland/deno_registry2/issues/69 though.

[2020-10-23 21:17] #1571 closed

[2020-10-23 21:20] cknight commented on #1571
I even commented on that one :facepalm:

[2020-10-24 11:09] littletof opened #1573 "'Circular structure in "getInitialProps" result of page' error after npm install"
After a recent `npm i` in the repo, when I ran `npm run dev` it always gave me the error:
[code]

I looked around, and found these two issues:
https://github.com/vercel/next.js/issues/17854
https://github.com/developit/nextjs-preact-demo/issues/25

Changing `next` version to `9.5.3` as mentioned in a comment, seems to resolve this problem for me.
Dont know, if thats the solution, to be taken.

[2020-10-24 11:17] lucacasonato commented on #1573
That sounds good to me. I think this issue will be addressed in a few weeks.

[2020-10-24 12:27] #1573 closed

[2020-10-24 13:43] #1509 closed

[2020-10-24 15:48] crookse opened #1579 "deno fmt --column-width option"
it'd be nice to have a column width option so that users can specify where the formatter wraps texts. 80 is cool, but some people have bigger screens and prefer/use 100-120... maybe even larger idk.

[2020-10-25 12:13] crookse commented on #1579
woops. wrong repo

[2020-10-25 12:13] #1579 closed

[2020-11-06 14:55] eusonlito opened #1592 "Not found pages haven't response status code 404"
All not existing pages should return a `404` status code on response to allow to search engines and any request to `deno.land` to manage this errors as `404` errors and not as `200` success. For example, obsolete modules:

[code]

`statusCode={404}` was removed on PR Custom 404 page 🦕 https://github.com/denoland/deno_website2/pull/1570

[2020-11-11 17:57] shadowtime2000 opened #1602 "Remove Unused CSS"
Looking at [this page](https://deno.land/x/sheetjs@v0.16.8) in the website, I found it had a ton of unused CSS:
![image](https://user-images.githubusercontent.com/66655515/98846503-ea56f000-2403-11eb-816b-c28d4b3c752c.png)
I was also looking at other pages, and those other pages seemed to use even less CSS than the page I showed you. This is relatively simple as you can just put `purgecss` inside

[2020-11-11 18:01] lucacasonato commented on #1602
We already purge. This could only be fixed by per page CSS file.

https://github.com/denoland/deno_website2/blob/master/tailwind.config.js#L31-L38

[2020-11-11 18:01] #1602 closed

[2020-11-13 07:55] Maxvien opened #1603 "Main Menu disappears on Desktop"
![image](https://user-images.githubusercontent.com/1142799/99042853-0c956d00-25c0-11eb-96c4-eaf60f0fc359.png)

[2020-11-21 22:22] 4ldas opened #1605 "re-add metadata"
Re-add metadata to the website as it makes the website seem less suspicious and tells about the website before going inside it from 3rd party sites and such.

[2020-11-28 04:52] ssslambda opened #1609 "Posts page menu bug"
![Screenshot_2020-11-28-07-50-32](https://user-images.githubusercontent.com/66798311/100494032-8ac04a80-314e-11eb-8096-f78fc95a9edb.jpg)

I think, solution somewhere in z-index.
UPD: latest Brave Browser on Android (which is based on Chrome)

[2020-12-05 15:19] danopia opened #1613 "Incorrect syntax rendering, visible in std's toml.ts"
Here: https://deno.land/std@0.79.0/encoding/toml.ts#L276
![image](https://user-images.githubusercontent.com/40628/101246724-5ed83280-3715-11eb-8f44-5b292ddb686c.png)

Seems like the mixing of quotes is causing the syntax highlighter to enter a very long multiline string that doesn't actually exist.

Reporting here as per [Discord](https://discord.com/channels/684898665143206084/684898665151594506/

[2020-12-09 00:12] ssslambda commented on #1609
So...
![Screenshot_2020-12-09-03-12-11](https://user-images.githubusercontent.com/66798311/101556642-607f5000-39cc-11eb-94a5-263b94475984.jpg)

[2020-12-12 12:17] ssslambda commented on #1609
Still not fixed...

[2020-12-16 11:32] mooxl opened #1621 "Images on 404 page not found when routes are nested"
If you go to an invalid route, which is nested, the images are not found because they have a relative file path.

#### https://deno.land/found
<img width="1920" alt="found" src="https://user-images.githubusercontent.com/35741000/102343042-5c3dce80-3f9a-11eb-8723-af11ddd26d15.png">

#### https://deno.land/not/found
<img width="1920" alt="not:found" src="https://user-images.githubusercontent.com/357

[2020-12-16 14:43] #1609 closed

[2020-12-16 14:45] #1621 closed

[2020-12-16 22:02] NaridaL opened #1626 "https://deno.land/x/chroma doesn't show up"
Hi, I tried to add https://github.com/NaridaL/chroma.ts to deno.land/x, but it's not showing up: https://deno.land/x/chroma (I deleted the last tag and readded it to trigger the webhook but no luck)

Comparing with other repos, I probably shouldn't have specified "src/" as a subdirectory. Can I change that?

[2020-12-29 01:46] soilSpoon opened #1629 "Add releases page"
It would be nice if you could add a page like [Node.js Releases](https://nodejs.org/en/about/releases/) to keep track of deno's release schedule.

[2020-12-29 02:43] lucacasonato commented on #1629
The latest release is on the homepage. Release schedule can be found at https://deno.land/manual/contributing/release_schedule. Deno does not have LTS releases yet, so we don't need an image showing maintenance schedules.

I think all content is already available on the site, so I will close this.

[2020-12-29 02:43] #1629 closed

[2020-12-30 14:45] Schotsl opened #1630 "Change package URL"
I have a package that used to have the Deno code in the `src` folder and the NPM version in the `dist` folder, but I've been running into problems with `.ts` imports being required in Deno and not allowed in TypeScript. I'd also like to use some dependencies which means that I have to split these 2 projects so they can have NPM and Deno dependencies.

The problem is that I already released my pack

[2020-12-30 14:46] Schotsl opened #1631 "Change third-party package repository"
I have a package that used to have the Deno code in the `src` folder and the NPM version in the `dist` folder, but I've been running into problems with `.ts` imports being required in Deno and not allowed in TypeScript. I'd also like to use some dependencies which means that I have to split these 2 projects so they can have NPM and Deno dependencies.

The problem is that I already released my pack